.enterEmailOr,
.forgetPassword {
  position: relative;
}
.enterEmailOr {
  font-size: var(--paragraph-h2-reg-size);
  font-weight: 500;
}
.forgetPasswordParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frameChild {
  position: relative;
  border-top: 1px solid var(--gray-black);
  box-sizing: border-box;
  width: 382px;
  height: 1px;
}
.emailOrPhoneNumberParent,
.frameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.emailOrPhoneNumberParent {
  width: 381px;
  gap: var(--gap-xs);
}
.frameContainer {
  font-size: var(--paragraph-h2-reg-size);
}
.frameGroup {
  gap: var(--gap-29xl);
}
.frameGroup,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.submit {
  position: relative;
  display: inline-block;
  width: 60px;
  flex-shrink: 0;
  max-width: 100px;
}
.submitWrapper {
  border-radius: var(--br-xs);
  background-color: var(--color-firebrick-600);
  width: 393px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--paragraph-h2-reg-size);
}
.frameParent {
  position: absolute;
  top: calc(50% - 56px);
  left: 108px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.testtakerSignUpInner {
  position: absolute;
  top: 1px;
  left: 0;
  background-color: var(--color-lavender-200);
  width: 652px;
  height: 1136px;
  overflow: hidden;
  font-size: var(--font-size-29xl);
}
.loginToAccess {
  position: relative;
  font-weight: 500;
}
.loginToAccessYourAccountWrapper {
  position: absolute;
  top: 163px;
  left: 902px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-whitesmoke-200);
}
.forgotYourPassword {
  position: relative;
  display: inline-block;
  width: 211px;
  flex-shrink: 0;
}
.forgotYourPasswordParent,
.resetWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.resetWrapper {
  border-radius: var(--br-5xs);
  background-color: var(--color-firebrick-600);
  width: 100px;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  color: var(--gray-white);
}
.forgotYourPasswordParent {
  position: absolute;
  top: 912px;
  left: 128px;
  justify-content: flex-start;
  gap: var(--gap-48xl);
}
.copy1Icon,
.testtakerSignUpChild {
  position: absolute;
  top: 315px;
  left: 743px;
  width: 837.3px;
  height: 628px;
  object-fit: cover;
}
.testtakerSignUpChild {
  top: 163px;
  left: 0;
  width: 630px;
  height: 206px;
}
.testtakerSignUpItem {
  position: absolute;
  top: -25px;
  left: -8px;
  background-color: var(--color-lavender-200);
  width: 1733px;
  height: 124px;
}
.rectangleIcon {
  position: absolute;
  top: 22px;
  left: 0;
  width: 326px;
  height: 77px;
  object-fit: cover;
  cursor: pointer;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-firebrick-700);
  width: 198.8px;
  height: 63px;
}
.loginregister {
  position: absolute;
  top: 17px;
  left: 26.8px;
  font-weight: 600;
  display: inline-block;
  width: 169.2px;
  height: 48px;
}
.rectangleParent {
  position: absolute;
  top: 28px;
  left: 1464px;
  width: 198.8px;
  height: 65px;
  font-size: var(--body-h2-bold-size);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.testtakerSignUp {
  position: relative;
  background-color: var(--color-firebrick-800);
  width: 1712px;
  height: 1117px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.groupItem {
  position: absolute;
  top: 30.6px;
  left: -1px;
  border-top: 2px solid var(--color-firebrick-500);
  box-sizing: border-box;
  width: 70.9px;
  height: 2px;
}
.about,
.admin,
.contactUs,
.home,
.tests {
  position: absolute;
  top: 3px;
  left: 141px;
  font-weight: 600;
  display: inline-block;
  width: 69px;
  height: 46px;
  cursor: pointer;
}
.admin,
.contactUs,
.home,
.tests {
  top: 1px;
  left: 282px;
  width: 67px;
  height: 50px;
}
.admin,
.contactUs,
.home {
  top: 0;
  left: 413px;
  width: 119px;
  height: 48px;
}
.admin,
.home {
  top: 1px;
  left: 576px;
  width: 183px;
}
.home {
  left: 4px;
  color: var(--color-firebrick-700);
  width: 75px;
}
.lineParent {
  position: absolute;
  margin: 0 !important;
  top: 43px;
  left: 479px;
  width: 759px;
  height: 51px;
  z-index: 1;
  font-size: var(--body-h2-bold-size);
  color: var(--color-gray-700);
  font-family: var(--font-inter);
}
.forgetPassword1 {
  position: relative;
  background-color: var(--gray-white);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--paragraph-h2-reg-size);
  color: var(--gray-black);
  font-family: var(--h4-reg);
}
