.groupIcon,
.iconFeatherSearch,
.vectorIcon {
  position: absolute;
  height: 5.73%;
  width: 17.94%;
  top: 11.64%;
  right: 61.63%;
  bottom: 82.63%;
  left: 20.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconFeatherSearch,
.vectorIcon {
  height: 5.37%;
  width: 50.87%;
  top: 4.3%;
  right: 28.94%;
  bottom: 90.33%;
  left: 20.2%;
}
.iconFeatherSearch {
  height: 2.42%;
  width: 1.56%;
  top: 5.77%;
  right: 76.48%;
  bottom: 91.81%;
  left: 21.96%;
}
.searchDashboard {
  position: absolute;
  top: 5.82%;
  left: 25.12%;
  font-size: var(--paragraph-h1-reg-size);
  font-family: var(--font-inter);
  color: var(--color-lightsteelblue);
}
.groupIcon1,
.instructorsManageTestsChild {
  position: absolute;
  height: 8.42%;
  width: 5.44%;
  top: 3.13%;
  right: 22.51%;
  bottom: 88.45%;
  left: 72.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instructorsManageTestsChild {
  height: 5.55%;
  width: 3.59%;
  top: 4.3%;
  right: 16.84%;
  bottom: 90.15%;
  left: 79.57%;
}
.instructorsManageTestsItem {
  position: absolute;
  top: 223px;
  left: 357px;
  width: 1299px;
  height: 714px;
}
.addDefaultersChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-firebrick-400);
}
.icon {
  position: absolute;
  height: 40%;
  width: 40%;
  top: 30%;
  right: 30%;
  bottom: 30%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.addDefaulters {
  position: absolute;
  top: 415px;
  left: 695px;
  width: 40px;
  height: 40px;
  display: none;
  cursor: pointer;
}
.instructorsManageTestsInner {
  position: absolute;
  top: 1008px;
  left: 822px;
  border-radius: var(--br-3xs);
  background-color: var(--gray-white);
  width: 100px;
  height: 5px;
  display: none;
}
.addDefaultersItem {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-firebrick-400);
  height: 0;
}
.icon1 {
  position: absolute;
  width: 40%;
  right: 30%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  height: 0;
}
.addDefaulters1,
.complaints {
  position: absolute;
  display: none;
}
.addDefaulters1 {
  top: 1008px;
  left: 907px;
  width: 10px;
  height: 0;
  cursor: pointer;
}
.complaints {
  width: 3.07%;
  top: 90.24%;
  left: 47.86%;
  font-size: var(--font-size-3xl-8);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-dimgray-300);
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--gray-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 366px;
  height: 88px;
}
.alex,
.viewDetails {
  position: absolute;
  top: 47px;
  left: 89px;
}
.alex {
  top: 9px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--gray-black);
}
.rectangleIcon {
  position: absolute;
  top: 13px;
  left: 12px;
  border-radius: var(--br-19xl-4);
  width: 61px;
  height: 61px;
  object-fit: cover;
}
.rectangleParent {
  position: absolute;
  top: 11px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.azam {
  position: absolute;
  top: 9px;
  left: 89px;
  font-weight: 500;
}
.rectangleGroup,
.viewDetails1 {
  position: absolute;
  top: 52px;
  left: 89px;
  font-size: var(--paragraph-h2-reg-size);
  color: var(--color-tomato);
}
.rectangleGroup {
  top: 305px;
  left: 16px;
  width: 366px;
  height: 88px;
  font-size: var(--font-size-xl);
  color: var(--gray-black);
}
.attendance,
.coJvy {
  position: absolute;
  top: 59px;
  left: 89px;
}
.coJvy {
  top: 38px;
  color: var(--color-gray-400);
}
.groupDiv,
.rectangleContainer,
.rectangleParent1,
.rectangleParent2 {
  position: absolute;
  top: 599px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.groupDiv,
.rectangleParent1,
.rectangleParent2 {
  top: 893px;
}
.rectangleParent1,
.rectangleParent2 {
  top: 1187px;
}
.rectangleParent2 {
  top: 1481px;
}
.rectangleParent3,
.rectangleParent4,
.rectangleParent5 {
  position: absolute;
  top: 1775px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.rectangleParent4,
.rectangleParent5 {
  top: 109px;
  font-size: var(--font-size-xl);
  color: var(--gray-black);
}
.rectangleParent5 {
  top: 403px;
}
.rectangleParent6,
.rectangleParent7,
.rectangleParent8 {
  position: absolute;
  top: 697px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.rectangleParent7,
.rectangleParent8 {
  top: 991px;
}
.rectangleParent8 {
  top: 1285px;
}
.rectangleParent10,
.rectangleParent11,
.rectangleParent9 {
  position: absolute;
  top: 1579px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.rectangleParent10,
.rectangleParent11 {
  top: 1873px;
}
.rectangleParent11 {
  top: 207px;
  font-size: var(--font-size-xl);
  color: var(--gray-black);
}
.rectangleParent12,
.rectangleParent13,
.rectangleParent14 {
  position: absolute;
  top: 501px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.rectangleParent13,
.rectangleParent14 {
  top: 795px;
}
.rectangleParent14 {
  top: 1089px;
}
.groupParent,
.rectangleParent15,
.rectangleParent16,
.rectangleParent17 {
  position: absolute;
  top: 1383px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.groupParent,
.rectangleParent16,
.rectangleParent17 {
  top: 1677px;
}
.groupParent,
.rectangleParent17 {
  top: 1971px;
}
.groupParent {
  top: 460px;
  left: 822px;
  width: 385px;
  height: 539px;
  overflow-y: auto;
  display: none;
  font-size: var(--paragraph-h2-reg-size);
  color: var(--color-tomato);
  font-family: var(--font-inter);
}
.instructorsManageTestsChild1 {
  position: absolute;
  height: 9.85%;
  width: 3.59%;
  top: 3.22%;
  right: 9.66%;
  bottom: 86.93%;
  left: 86.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.raj {
  margin: 0;
}
.rajAnadkat {
  position: absolute;
  top: 46px;
  left: 1565px;
  font-size: var(--paragraph-h1-reg-size);
  font-weight: 300;
  font-family: var(--font-inter);
  color: var(--color-darkslategray-400);
}
.manageTests {
  position: absolute;
  top: 148px;
  left: 385px;
  font-size: var(--body-h1-bold-size);
  letter-spacing: 0.02em;
  line-height: 27px;
  display: flex;
  font-family: var(--h4-reg);
  color: var(--gray-white);
  align-items: center;
  width: 240px;
}
.instructorsManageTestsChild2 {
  position: absolute;
  height: 5.55%;
  width: 3.59%;
  top: 3.85%;
  right: 10.07%;
  bottom: 90.6%;
  left: 86.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fileFormat,
.testId,
.testName,
.uploadDate {
  position: absolute;
  top: 0.1px;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 136.2px;
  height: 43px;
}
.fileFormat,
.testId,
.uploadDate {
  left: 166.9px;
  width: 182.9px;
}
.fileFormat,
.uploadDate {
  left: 372.6px;
  width: 188.3px;
}
.fileFormat {
  left: 594.2px;
  width: 169.6px;
}
.duration,
.thead {
  position: absolute;
  height: 43.1px;
}
.duration {
  top: 0;
  left: 797.4px;
  font-weight: 600;
  display: inline-block;
  width: 119.6px;
}
.thead {
  top: 252px;
  left: 402px;
  width: 917px;
  font-size: var(--font-size-xl);
}
.instructorsManageTestsChild3 {
  position: absolute;
  top: 296px;
  left: 392px;
  border-radius: var(--br-5xs);
  background-color: var(--gray-white);
  width: 1000px;
  height: 85px;
}
.aug2022,
.excel,
.mins,
.ocja {
  position: absolute;
  top: 330px;
  left: 434px;
  display: inline-block;
  width: 129px;
}
.aug2022,
.excel,
.mins {
  left: 1213px;
  width: 76px;
}
.aug2022,
.excel {
  top: 327px;
  left: 1019px;
  width: 116px;
}
.aug2022 {
  top: 330px;
  left: 789px;
  width: 108px;
}
.instructorsManageTestsChild4 {
  position: absolute;
  top: 391px;
  left: 392px;
  border-radius: var(--br-5xs);
  background-color: var(--gray-white);
  width: 1000px;
  height: 85px;
}
.may2021,
.mins1,
.ocp,
.text {
  position: absolute;
  top: 425px;
  left: 434px;
  display: inline-block;
  width: 129px;
}
.may2021,
.mins1,
.text {
  left: 1213px;
  width: 76px;
}
.may2021,
.text {
  top: 422px;
  left: 1019px;
  width: 116px;
}
.may2021 {
  top: 425px;
  left: 789px;
  width: 108px;
}
.instructorsManageTestsChild5 {
  position: absolute;
  top: 486px;
  left: 392px;
  border-radius: var(--br-5xs);
  background-color: var(--gray-white);
  width: 1000px;
  height: 85px;
}
.mar2023,
.mins2,
.ocjp,
.text1 {
  position: absolute;
  top: 520px;
  left: 434px;
  display: inline-block;
  width: 129px;
}
.mar2023,
.mins2,
.text1 {
  left: 1213px;
  width: 76px;
}
.mar2023,
.text1 {
  top: 517px;
  left: 1019px;
  width: 116px;
}
.mar2023 {
  top: 520px;
  left: 789px;
  width: 108px;
}
.instructorsManageTestsChild6 {
  position: absolute;
  top: 581px;
  left: 392px;
  border-radius: var(--br-5xs);
  background-color: var(--gray-white);
  width: 1000px;
  height: 85px;
}
.apr2023,
.excel1,
.mins3,
.oja {
  position: absolute;
  top: 615px;
  left: 434px;
  display: inline-block;
  width: 129px;
}
.apr2023,
.excel1,
.mins3 {
  left: 1213px;
  width: 76px;
}
.apr2023,
.excel1 {
  top: 612px;
  left: 1019px;
  width: 116px;
}
.apr2023 {
  top: 615px;
  left: 789px;
  width: 108px;
}
.instructorsManageTestsChild7 {
  position: absolute;
  top: 676px;
  left: 392px;
  border-radius: var(--br-5xs);
  background-color: var(--gray-white);
  width: 1000px;
  height: 85px;
}
.march2023,
.mins4,
.ojjdc,
.text2 {
  position: absolute;
  top: 710px;
  left: 434px;
  display: inline-block;
  width: 129px;
}
.march2023,
.mins4,
.text2 {
  left: 1213px;
  width: 76px;
}
.march2023,
.text2 {
  top: 707px;
  left: 1019px;
  width: 116px;
}
.march2023 {
  top: 710px;
  left: 789px;
  width: 108px;
}
.instructorsManageTestsChild8 {
  position: absolute;
  top: 771px;
  left: 392px;
  border-radius: var(--br-5xs);
  background-color: var(--gray-white);
  width: 1000px;
  height: 85px;
}
.div,
.jjpac {
  position: absolute;
  top: 805px;
  left: 434px;
  display: inline-block;
  width: 129px;
}
.div {
  top: 330px;
  left: 584px;
}
.div1,
.div2,
.div3,
.div4,
.div5,
.excel2,
.feb2023,
.loadMore,
.mins5 {
  position: absolute;
  top: 425px;
  left: 584px;
  display: inline-block;
  width: 129px;
}
.div2,
.div3,
.div4,
.div5,
.excel2,
.feb2023,
.loadMore,
.mins5 {
  top: 520px;
}
.div3,
.div4,
.div5,
.excel2,
.feb2023,
.loadMore,
.mins5 {
  top: 615px;
}
.div4,
.div5,
.excel2,
.feb2023,
.loadMore,
.mins5 {
  top: 710px;
}
.div5,
.excel2,
.feb2023,
.loadMore,
.mins5 {
  top: 805px;
}
.excel2,
.feb2023,
.loadMore,
.mins5 {
  left: 1213px;
  width: 76px;
}
.excel2,
.feb2023,
.loadMore {
  top: 802px;
  left: 1019px;
  width: 116px;
}
.feb2023,
.loadMore {
  top: 805px;
  left: 789px;
  width: 108px;
}
.loadMore {
  top: 894px;
  left: 864px;
  font-size: 15px;
  text-decoration: underline;
  font-family: var(--font-inter);
  width: 125px;
  height: 26px;
  filter: blur(4px);
}
.pen3Icon,
.trash3Icon {
  position: absolute;
  top: 328px;
  left: 1354px;
  width: 16px;
  height: 18px;
  overflow: hidden;
}
.pen3Icon {
  left: 1314px;
  width: 19px;
  height: 19px;
}
.pen4Icon,
.pen5Icon,
.trash4Icon,
.trash5Icon {
  position: absolute;
  top: 423px;
  left: 1354px;
  width: 16px;
  height: 18px;
  overflow: hidden;
}
.pen4Icon,
.pen5Icon,
.trash5Icon {
  left: 1314px;
  width: 19px;
  height: 19px;
}
.pen5Icon,
.trash5Icon {
  top: 518px;
  left: 1354px;
  width: 16px;
  height: 18px;
}
.pen5Icon {
  left: 1314px;
  width: 19px;
  height: 19px;
}
.pen6Icon,
.pen7Icon,
.trash6Icon,
.trash7Icon {
  position: absolute;
  top: 613px;
  left: 1354px;
  width: 16px;
  height: 18px;
  overflow: hidden;
}
.pen6Icon,
.pen7Icon,
.trash7Icon {
  left: 1314px;
  width: 19px;
  height: 19px;
}
.pen7Icon,
.trash7Icon {
  top: 708px;
  left: 1354px;
  width: 16px;
  height: 18px;
}
.pen7Icon {
  left: 1314px;
  width: 19px;
  height: 19px;
}
.frameChild,
.pen1Icon,
.trash1Icon {
  position: absolute;
  top: 803px;
  left: 1354px;
  width: 16px;
  height: 18px;
  overflow: hidden;
}
.frameChild,
.pen1Icon {
  left: 1314px;
  width: 19px;
  height: 19px;
}
.frameChild {
  height: 5.19%;
  width: 87.19%;
  top: 26.68%;
  right: 6.56%;
  bottom: 68.13%;
  left: 6.25%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  max-height: 100%;
}
.team {
  position: absolute;
  top: 0;
  left: 47.46%;
}
.teacherSvgrepoCom1Icon {
  position: absolute;
  height: 74.48%;
  width: 20.34%;
  top: 10.34%;
  right: 79.66%;
  bottom: 15.17%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.uploadTests {
  position: absolute;
  top: 260px;
  left: 37px;
  width: 118px;
  height: 29px;
  cursor: pointer;
}
.vectorIcon1 {
  position: absolute;
  height: 75.17%;
  width: 13.11%;
  top: 17.24%;
  right: 86.89%;
  bottom: 7.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dashboard {
  position: absolute;
  top: 0;
  left: 30.6%;
  font-weight: 600;
}
.academics,
.vectorGroup {
  position: absolute;
  cursor: pointer;
}
.vectorGroup {
  top: 194px;
  left: 37px;
  width: 183px;
  height: 29px;
}
.academics {
  top: 0;
  left: 30.94%;
}
.iconMetroBooks {
  position: absolute;
  height: 85.86%;
  width: 13.76%;
  top: 10.34%;
  right: 86.24%;
  bottom: 3.79%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.manageTests1 {
  position: absolute;
  top: 317px;
  left: 37px;
  width: 181px;
  height: 29px;
  color: var(--color-firebrick-700);
}
.instructorProfile1 {
  color: var(--gray-black);
}
.frameItem,
.instructorProfile {
  position: absolute;
  cursor: pointer;
}
.instructorProfile {
  top: 430px;
  left: 37px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-gray-600);
}
.frameItem {
  top: 28px;
  left: 0;
  width: 326px;
  height: 77px;
  object-fit: cover;
}
.vectorParent {
  position: relative;
  background-color: var(--gray-white);
  width: 320px;
  height: 1117px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameDiv {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-h1-bold-size);
  font-family: var(--font-inter);
}
.yourPayments {
  position: absolute;
  top: 0;
  left: 35.22%;
  cursor: pointer;
}
.groupIcon2 {
  position: absolute;
  height: 74.48%;
  width: 15.09%;
  top: 13.79%;
  right: 84.91%;
  bottom: 11.72%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payments {
  position: absolute;
  top: 375px;
  left: 37px;
  width: 159px;
  height: 29px;
  font-size: var(--body-h1-bold-size);
  font-family: var(--font-inter);
}
.instructorsManageTests {
  position: relative;
  background-color: var(--color-ghostwhite-100);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--gray-black);
  font-family: var(--font-montserrat);
}
