.dragNDropChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  border: 1px dashed var(--gray-black);
  box-sizing: border-box;
  width: 417.1px;
  height: 728.4px;
}
.dragNDropItem {
  position: absolute;
  top: 173.9px;
  left: 154.2px;
  width: 108.8px;
  height: 105.6px;
}
.dragAndDrop {
  top: 297.1px;
  left: 123.3px;
  display: inline-block;
  width: 169.6px;
  height: 95.7px;
}
.dragAndDrop,
.groupChild,
.or {
  position: absolute;
}
.or {
  top: 414.2px;
  left: 176.7px;
  display: inline-block;
  width: 53.9px;
  height: 62.9px;
}
.groupChild {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: #ffb859;
  box-shadow: 0 4px 4px #cc7500;
  width: 163.2px;
  height: 52.8px;
}
.browse {
  position: absolute;
  top: 12.8px;
  left: 32.5px;
  font-weight: 500;
  display: inline-block;
  width: 97px;
  height: 53.7px;
}
.rectangleParent {
  position: absolute;
  top: 498.4px;
  left: 127px;
  width: 163.2px;
  height: 66.6px;
  font-size: var(--font-size-xl);
}
.dragNDrop {
  position: absolute;
  top: 233px;
  left: 441px;
  width: 417.1px;
  height: 728.4px;
  text-align: center;
}
.child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--gray-white);
  box-shadow: 0 2px 4px rgba(196, 196, 196, 0.5);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 634.8px;
  height: 121px;
}
.div1,
.mb,
.ocjatxt {
  position: absolute;
  left: 28.2px;
  display: inline-block;
}
.ocjatxt {
  top: 22.7px;
  font-size: var(--font-size-xl);
  color: var(--gray-black);
  width: 122.8px;
  height: 53.7px;
}
.div1,
.mb {
  top: 76.4px;
  width: 81.9px;
  height: 41.1px;
}
.div1 {
  top: 75.9px;
  left: 568.6px;
  width: 37.2px;
  height: 41.8px;
}
.inner,
.item {
  position: absolute;
  top: 58.3px;
  left: 28.1px;
  border-radius: var(--br-xl);
  background-color: var(--color-silver-200);
  width: 577.6px;
  height: 8.8px;
}
.inner {
  background-color: var(--color-darkorange-100);
}
.div,
.groupIcon {
  position: absolute;
  top: 23.1px;
  left: 584px;
  width: 21.8px;
  height: 26.4px;
}
.div {
  top: 698px;
  left: 971px;
  width: 634.8px;
  height: 121px;
  text-align: center;
  font-size: var(--paragraph-h2-reg-size);
  color: var(--color-gray-300);
}
.div3,
.mb1,
.ocpxlxs {
  position: absolute;
  left: 28.2px;
  display: inline-block;
}
.ocpxlxs {
  top: 23.6px;
  font-size: var(--font-size-xl);
  color: var(--gray-black);
  width: 188.5px;
  height: 52.6px;
}
.div3,
.mb1 {
  top: 76.2px;
  width: 81.9px;
  height: 41.1px;
}
.div3 {
  top: 75.9px;
  left: 575.8px;
  width: 29.9px;
  height: 41.8px;
}
.child2 {
  top: 58.3px;
  left: 28.1px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkorange-100);
  width: 362.7px;
  height: 8.8px;
}
.child2,
.child3,
.div2 {
  position: absolute;
}
.child3 {
  height: 21.15%;
  width: 2.89%;
  top: 695.59%;
  right: -105.45%;
  bottom: -616.74%;
  left: 202.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div2 {
  top: 839.9px;
  left: 971px;
  width: 920.8px;
  height: 136.2px;
  text-align: center;
  font-size: var(--paragraph-h2-reg-size);
  color: var(--color-gray-300);
}
.componentlottiehttpsassetIcon {
  position: absolute;
  top: 291px;
  left: 1145px;
  width: 341px;
  height: 315px;
  object-fit: cover;
}
.instructorsUploadTestsChild {
  position: absolute;
  top: 698.2px;
  left: 1622.8px;
  background-color: var(--color-gainsboro-100);
  width: 10px;
  height: 262px;
}
.instructorsUploadTestsItem {
  position: absolute;
  top: 710.2px;
  left: 1620.8px;
  border-radius: var(--br-xl);
  background-color: var(--color-silver-200);
  width: 14px;
  height: 55px;
}
.iconFeatherSearch,
.vectorIcon {
  position: absolute;
  height: 5.37%;
  width: 51.25%;
  top: 5.1%;
  right: 28.75%;
  bottom: 89.53%;
  left: 20%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconFeatherSearch {
  height: 2.42%;
  width: 1.57%;
  top: 6.58%;
  right: 76.65%;
  bottom: 91%;
  left: 21.78%;
}
.searchDashboard {
  position: absolute;
  top: 6.62%;
  left: 24.96%;
  font-size: var(--paragraph-h1-reg-size);
  color: var(--color-lightsteelblue);
}
.groupIcon1,
.instructorsUploadTestsChild1,
.instructorsUploadTestsInner {
  position: absolute;
  height: 8.42%;
  width: 5.48%;
  top: 3.94%;
  right: 22.27%;
  bottom: 87.65%;
  left: 72.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instructorsUploadTestsChild1,
.instructorsUploadTestsInner {
  height: 5.55%;
  width: 3.62%;
  top: 5.1%;
  right: 16.56%;
  bottom: 89.35%;
  left: 79.83%;
}
.instructorsUploadTestsChild1 {
  height: 9.85%;
  top: 4.03%;
  right: 9.33%;
  bottom: 86.12%;
  left: 87.06%;
}
.raj {
  margin: 0;
}
.rajAnadkat {
  position: absolute;
  top: 55px;
  left: 1559px;
  font-size: var(--paragraph-h1-reg-size);
  font-weight: 300;
  color: var(--color-darkslategray-400);
}
.groupItem,
.rectangleIcon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangleIcon {
  height: 5.55%;
  width: 3.62%;
  top: 4.66%;
  right: 9.74%;
  bottom: 89.79%;
  left: 86.65%;
  object-fit: cover;
}
.groupItem {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.uploadTest {
  position: absolute;
  top: 19px;
  left: 67px;
  letter-spacing: 0.02em;
  line-height: 27px;
  display: flex;
  align-items: center;
  width: 240px;
}
.group {
  position: absolute;
  height: 5.73%;
  width: 18.08%;
  top: 12.8%;
  right: 61.92%;
  bottom: 81.47%;
  left: 20%;
  color: var(--gray-white);
  font-family: var(--h4-reg);
}
.frameChild {
  position: absolute;
  height: 5.19%;
  width: 87.19%;
  top: 21.93%;
  right: 7.81%;
  bottom: 72.87%;
  left: 5%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.team {
  position: absolute;
  top: 0;
  left: 47.46%;
}
.teacherSvgrepoCom1Icon {
  position: absolute;
  height: 74.48%;
  width: 20.34%;
  top: 10.34%;
  right: 79.66%;
  bottom: 15.17%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.uploadTests {
  position: absolute;
  top: 260px;
  left: 37px;
  width: 118px;
  height: 29px;
  cursor: pointer;
  color: var(--color-firebrick-700);
}
.vectorIcon1 {
  position: absolute;
  height: 75.17%;
  width: 13.11%;
  top: 17.24%;
  right: 86.89%;
  bottom: 7.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dashboard {
  position: absolute;
  top: 0;
  left: 30.6%;
  font-weight: 600;
}
.academics,
.vectorGroup {
  position: absolute;
  cursor: pointer;
}
.vectorGroup {
  top: 194px;
  left: 37px;
  width: 183px;
  height: 29px;
}
.academics {
  top: 0;
  left: 30.94%;
}
.iconMetroBooks {
  position: absolute;
  height: 85.86%;
  width: 13.76%;
  top: 10.34%;
  right: 86.24%;
  bottom: 3.79%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.manageTests {
  position: absolute;
  top: 317px;
  left: 37px;
  width: 181px;
  height: 29px;
}
.instructorProfile1 {
  color: var(--gray-black);
}
.frameItem,
.instructorProfile {
  position: absolute;
  cursor: pointer;
}
.instructorProfile {
  top: 430px;
  left: 37px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-gray-600);
}
.frameItem {
  top: 28px;
  left: 0;
  width: 326px;
  height: 77px;
  object-fit: cover;
}
.vectorParent {
  position: relative;
  background-color: var(--gray-white);
  width: 320px;
  height: 1117px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameDiv {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.yourPayments {
  position: absolute;
  top: 0;
  left: 35.22%;
  cursor: pointer;
}
.groupIcon2 {
  position: absolute;
  height: 74.48%;
  width: 15.09%;
  top: 13.79%;
  right: 84.91%;
  bottom: 11.72%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payments {
  position: absolute;
  top: 375px;
  left: 37px;
  width: 159px;
  height: 29px;
}
.instructorsUploadTests {
  position: relative;
  background-color: #f8f7f7;
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-h1-bold-size);
  color: var(--gray-black);
  font-family: var(--font-inter);
}
