.iconFeatherSearch,
.vectorIcon {
  position: absolute;
  height: 5.37%;
  width: 50.87%;
  top: 4.3%;
  right: 28.94%;
  bottom: 90.33%;
  left: 20.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconFeatherSearch {
  height: 2.42%;
  width: 1.56%;
  top: 5.77%;
  right: 76.48%;
  bottom: 91.81%;
  left: 21.96%;
}
.searchDashboard {
  position: absolute;
  top: 5.82%;
  left: 25.12%;
  font-size: var(--paragraph-h1-reg-size);
  color: var(--color-lightsteelblue);
}
.groupIcon,
.instructorsProfileChild {
  position: absolute;
  height: 8.42%;
  width: 5.44%;
  top: 3.13%;
  right: 22.51%;
  bottom: 88.45%;
  left: 72.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instructorsProfileChild {
  height: 5.55%;
  width: 3.59%;
  top: 4.3%;
  right: 16.84%;
  bottom: 90.15%;
  left: 79.57%;
}
.instructorsProfileItem {
  position: absolute;
  top: 198px;
  left: 343px;
  width: 761px;
  height: 334px;
}
.addDefaultersChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-firebrick-400);
}
.icon {
  position: absolute;
  height: 40%;
  width: 40%;
  top: 30%;
  right: 30%;
  bottom: 30%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.addDefaulters {
  position: absolute;
  top: 415px;
  left: 695px;
  width: 40px;
  height: 40px;
  display: none;
  cursor: pointer;
}
.instructorsProfileInner {
  position: absolute;
  top: 1008px;
  left: 822px;
  border-radius: var(--br-3xs);
  background-color: var(--gray-white);
  width: 100px;
  height: 5px;
  display: none;
}
.addDefaultersItem {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-firebrick-400);
}
.addDefaulters1,
.addDefaultersItem,
.icon1 {
  position: absolute;
  height: 0;
}
.icon1 {
  width: 40%;
  right: 30%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
}
.addDefaulters1 {
  top: 1008px;
  left: 907px;
  width: 10px;
  display: none;
  cursor: pointer;
}
.rectangleDiv {
  position: absolute;
  top: 447px;
  left: 1281px;
  border-radius: 23px;
  background-color: var(--color-pink-100);
  width: 297px;
  height: 111px;
}
.complaints {
  position: absolute;
  width: 3.07%;
  top: 90.24%;
  left: 47.86%;
  font-size: var(--font-size-3xl-8);
  font-weight: 600;
  color: var(--color-dimgray-300);
  display: none;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--gray-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 221.1px;
  height: 68px;
}
.p,
.registeredDate {
  margin: 0;
}
.p {
  font-weight: 500;
}
.registeredDateContainer {
  position: absolute;
  top: 10.5px;
  left: 8.9px;
  letter-spacing: 0.05em;
  white-space: pre-wrap;
  display: inline-block;
  width: 203.2px;
  height: 35.9px;
}
.rectangleParent {
  position: absolute;
  top: 467.9px;
  left: 1321.9px;
  width: 221.1px;
  height: 68px;
  font-size: var(--font-size-xl);
}
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--gray-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 366px;
  height: 88px;
}
.alex,
.viewDetails {
  position: absolute;
  top: 47px;
  left: 89px;
}
.alex {
  top: 9px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--gray-black);
}
.rectangleIcon {
  position: absolute;
  top: 13px;
  left: 12px;
  border-radius: var(--br-19xl-4);
  width: 61px;
  height: 61px;
  object-fit: cover;
}
.rectangleGroup {
  position: absolute;
  top: 11px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.azam,
.viewDetails1 {
  position: absolute;
  left: 89px;
}
.azam {
  top: 9px;
  font-weight: 500;
}
.viewDetails1 {
  top: 52px;
  font-size: var(--paragraph-h2-reg-size);
  color: var(--color-tomato);
}
.rectangleContainer {
  position: absolute;
  top: 305px;
  left: 16px;
  width: 366px;
  height: 88px;
  font-size: var(--font-size-xl);
  color: var(--gray-black);
}
.attendance,
.coJvy {
  position: absolute;
  top: 59px;
  left: 89px;
}
.coJvy {
  top: 38px;
  color: var(--color-gray-400);
}
.groupDiv {
  position: absolute;
  top: 599px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.rectangleParent1,
.rectangleParent2,
.rectangleParent3 {
  position: absolute;
  top: 893px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.rectangleParent2,
.rectangleParent3 {
  top: 1187px;
}
.rectangleParent3 {
  top: 1481px;
}
.rectangleParent4,
.rectangleParent5,
.rectangleParent6 {
  position: absolute;
  top: 1775px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.rectangleParent5,
.rectangleParent6 {
  top: 109px;
  font-size: var(--font-size-xl);
  color: var(--gray-black);
}
.rectangleParent6 {
  top: 403px;
}
.rectangleParent7,
.rectangleParent8,
.rectangleParent9 {
  position: absolute;
  top: 697px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.rectangleParent8,
.rectangleParent9 {
  top: 991px;
}
.rectangleParent9 {
  top: 1285px;
}
.rectangleParent10,
.rectangleParent11,
.rectangleParent12 {
  position: absolute;
  top: 1579px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.rectangleParent11,
.rectangleParent12 {
  top: 1873px;
}
.rectangleParent12 {
  top: 207px;
  font-size: var(--font-size-xl);
  color: var(--gray-black);
}
.rectangleParent13,
.rectangleParent14,
.rectangleParent15 {
  position: absolute;
  top: 501px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.rectangleParent14,
.rectangleParent15 {
  top: 795px;
}
.rectangleParent15 {
  top: 1089px;
}
.groupParent,
.rectangleParent16,
.rectangleParent17,
.rectangleParent18 {
  position: absolute;
  top: 1383px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.groupParent,
.rectangleParent17,
.rectangleParent18 {
  top: 1677px;
}
.groupParent,
.rectangleParent18 {
  top: 1971px;
}
.groupParent {
  top: 460px;
  left: 822px;
  width: 385px;
  height: 539px;
  overflow-y: auto;
  display: none;
  font-size: var(--paragraph-h2-reg-size);
  color: var(--color-tomato);
}
.instructorsProfileChild1 {
  position: absolute;
  height: 9.85%;
  width: 3.59%;
  top: 3.22%;
  right: 9.66%;
  bottom: 86.93%;
  left: 86.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rajAnadkat {
  position: absolute;
  top: 46px;
  left: 1565px;
  font-size: var(--paragraph-h1-reg-size);
  font-weight: 300;
  color: var(--color-darkslategray-400);
}
.personalDetails {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 27px;
}
.mrInstructor,
.name {
  position: relative;
  line-height: 27px;
  display: inline-block;
  width: 145px;
  flex-shrink: 0;
}
.mrInstructor {
  width: 230px;
}
.frameParent,
.nameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.frameParent {
  flex-direction: column;
  gap: var(--gap-xl);
  font-size: var(--paragraph-h1-reg-size);
  color: var(--gray-black);
}
.personalDetailsParent,
.profile {
  position: absolute;
  font-family: var(--h4-reg);
}
.personalDetailsParent {
  top: 238px;
  left: 407px;
  height: 294px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  color: var(--color-dimgray-300);
}
.profile {
  top: 135px;
  left: 349px;
  letter-spacing: 0.02em;
  line-height: 27px;
}
.frameChild {
  position: relative;
  width: 144px;
  height: 158px;
  object-fit: cover;
}
.vectorParent {
  position: absolute;
  top: 202px;
  left: 1277px;
  border-radius: var(--br-3xs);
  background-color: var(--color-pink-100);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  width: 304px;
  height: 206px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-57xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.changeImage {
  position: relative;
  line-height: 18px;
}
.vectorIcon1 {
  position: relative;
  width: 14px;
  height: 14px;
}
.changeImageParent {
  position: absolute;
  top: 365px;
  left: 1366px;
  background-color: var(--gray-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--h4-reg-size);
  color: var(--color-gray-400);
  font-family: var(--h4-reg);
}
.instructorsProfileChild2 {
  position: absolute;
  height: 5.55%;
  width: 3.59%;
  top: 3.85%;
  right: 10.07%;
  bottom: 90.6%;
  left: 86.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.countChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-pink-100);
  width: 346.5px;
  height: 157px;
}
.graduationCap1Icon {
  position: absolute;
  top: 20px;
  left: 27.2px;
  width: 65.2px;
  height: 38px;
  overflow: hidden;
}
.b,
.purchases {
  position: absolute;
  display: inline-block;
}
.purchases {
  top: 73px;
  left: 27px;
  font-weight: 500;
  width: 125px;
}
.b {
  top: 100px;
  left: 243.2px;
  font-size: var(--font-size-11xl);
  text-transform: uppercase;
  color: var(--gray-black);
  width: 76.1px;
}
.count,
.countItem {
  position: absolute;
  width: 346.5px;
  height: 157px;
}
.count {
  top: 573px;
  left: 343px;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-200);
  font-family: var(--font-montserrat);
}
.countItem {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: #fef6fb;
}
.bookmark1Icon {
  position: absolute;
  height: 22.29%;
  width: 11%;
  top: 12.74%;
  right: 81.15%;
  bottom: 64.97%;
  left: 7.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b1,
.certificationtests {
  position: absolute;
  display: inline-block;
}
.certificationtests {
  top: 73px;
  left: 27px;
  font-weight: 500;
  width: 132px;
}
.b1 {
  top: 100px;
  left: 278.6px;
  font-size: var(--font-size-11xl);
  text-transform: uppercase;
  color: var(--gray-black);
  text-align: right;
  width: 40.8px;
}
.count1,
.countInner {
  position: absolute;
  width: 346.5px;
  height: 157px;
}
.count1 {
  top: 573px;
  left: 757px;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-200);
  font-family: var(--font-montserrat);
}
.countInner {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: #fefbec;
}
.usdSquare1Icon {
  position: absolute;
  height: 25.48%;
  width: 13.74%;
  top: 10.83%;
  right: 78.41%;
  bottom: 63.69%;
  left: 7.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.amountEarned {
  position: absolute;
  top: 73px;
  left: 27px;
  font-weight: 500;
  display: inline-block;
  width: 118px;
}
.span {
  font-size: var(--font-size-11xl);
}
.inr556000 {
  position: absolute;
  top: 100px;
  left: 97.8px;
  text-transform: uppercase;
  display: inline-block;
  color: var(--gray-black);
  text-align: right;
  width: 221.5px;
  font-size: var(--paragraph-h1-reg-size);
}
.count2 {
  position: absolute;
  top: 820px;
  left: 343px;
  width: 346.5px;
  height: 157px;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-200);
  font-family: var(--font-montserrat);
}
.vectorIcon2 {
  position: absolute;
  height: 21.66%;
  width: 13.33%;
  top: 12.74%;
  right: 78.82%;
  bottom: 65.61%;
  left: 7.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instructorRating {
  position: absolute;
  top: 73px;
  left: 27.5px;
  font-weight: 500;
  display: inline-block;
  width: 122px;
}
.b2,
.count3 {
  position: absolute;
}
.b2 {
  top: 100px;
  left: 255.5px;
  font-size: var(--font-size-11xl);
  text-transform: uppercase;
  display: inline-block;
  color: var(--gray-black);
  text-align: right;
  width: 68px;
}
.count3 {
  top: 820px;
  left: 757.5px;
  width: 346.5px;
  height: 157px;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-200);
  font-family: var(--font-montserrat);
}
.frameItem {
  position: absolute;
  height: 5.19%;
  width: 87.19%;
  top: 37.96%;
  right: 7.81%;
  bottom: 56.85%;
  left: 5%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.team {
  position: absolute;
  top: 0;
  left: 47.46%;
}
.teacherSvgrepoCom1Icon {
  position: absolute;
  height: 74.48%;
  width: 20.34%;
  top: 10.34%;
  right: 79.66%;
  bottom: 15.17%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.uploadTests {
  position: absolute;
  top: 260px;
  left: 37px;
  width: 118px;
  height: 29px;
  cursor: pointer;
}
.vectorIcon3 {
  position: absolute;
  height: 75.17%;
  width: 13.11%;
  top: 17.24%;
  right: 86.89%;
  bottom: 7.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dashboard {
  position: absolute;
  top: 0;
  left: 30.6%;
  font-weight: 600;
}
.academics,
.vectorContainer {
  position: absolute;
  cursor: pointer;
}
.vectorContainer {
  top: 194px;
  left: 37px;
  width: 183px;
  height: 29px;
}
.academics {
  top: 0;
  left: 30.94%;
}
.iconMetroBooks {
  position: absolute;
  height: 85.86%;
  width: 13.76%;
  top: 10.34%;
  right: 86.24%;
  bottom: 3.79%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.manageTests {
  position: absolute;
  top: 317px;
  left: 37px;
  width: 181px;
  height: 29px;
}
.span1 {
  color: var(--gray-black);
}
.instructorProfile1 {
  color: var(--color-firebrick-500);
}
.frameInner,
.instructorProfile {
  position: absolute;
  cursor: pointer;
}
.instructorProfile {
  top: 430px;
  left: 37px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-gray-600);
}
.frameInner {
  top: 28px;
  left: 0;
  width: 326px;
  height: 77px;
  object-fit: cover;
}
.vectorGroup {
  position: relative;
  background-color: var(--gray-white);
  width: 320px;
  height: 1117px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameDiv {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.yourPayments {
  position: absolute;
  top: 0;
  left: 35.22%;
  cursor: pointer;
}
.groupIcon1 {
  position: absolute;
  height: 74.48%;
  width: 15.09%;
  top: 13.79%;
  right: 84.91%;
  bottom: 11.72%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payments {
  position: absolute;
  top: 375px;
  left: 37px;
  width: 159px;
  height: 29px;
}
.instructorsProfile {
  position: relative;
  background-color: var(--color-ghostwhite-100);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-h1-bold-size);
  color: var(--gray-black);
  font-family: var(--font-inter);
}
