.passwordReset {
  position: relative;
  display: inline-block;
  width: 389px;
}
.passwordResetWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.passwordHasBeen {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
}
.frameContainer,
.frameGroup,
.frameWrapper {
  height: 192px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.frameContainer,
.frameWrapper {
  height: 239px;
  justify-content: flex-start;
}
.frameWrapper {
  position: absolute;
  top: calc(50% - 21px);
  left: 118px;
  height: 307px;
}
.labelText {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
}
.labelTextWrapper {
  position: absolute;
  top: 665px;
  left: 112px;
  border-radius: var(--br-xs);
  background-color: var(--color-firebrick-600);
  width: 393px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) 0;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-size: var(--paragraph-h2-reg-size);
  color: var(--color-gray-500);
  font-family: var(--font-inter);
}
.frameParent {
  position: absolute;
  top: 7px;
  left: 0;
  background-color: var(--color-lavender-200);
  width: 630px;
  height: 1024px;
  overflow: hidden;
}
.copy1Icon,
.testtakerSignUpChild {
  position: absolute;
  top: 315px;
  left: 743px;
  width: 837.3px;
  height: 628px;
  object-fit: cover;
}
.testtakerSignUpChild {
  top: 163px;
  left: 0;
  width: 630px;
  height: 206px;
}
.testtakerSignUpItem {
  position: absolute;
  top: -15px;
  left: 0;
  background-color: var(--color-lavender-200);
  width: 1712px;
  height: 152px;
}
.testtakerSignUpInner {
  position: absolute;
  top: 22px;
  left: 0;
  width: 326px;
  height: 77px;
  object-fit: cover;
  cursor: pointer;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-firebrick-700);
  width: 198.8px;
  height: 63px;
}
.loginregister {
  position: absolute;
  top: 17px;
  left: 26.8px;
  font-weight: 600;
  display: inline-block;
  width: 169.2px;
  height: 48px;
}
.rectangleParent {
  position: absolute;
  top: 28px;
  left: 1464px;
  width: 198.8px;
  height: 65px;
  font-size: var(--body-h2-bold-size);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.testtakerSignUp {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-firebrick-800);
  width: 1712px;
  height: 1117px;
  overflow: hidden;
}
.groupItem {
  position: absolute;
  top: 30.6px;
  left: -1px;
  border-top: 2px solid var(--color-firebrick-500);
  box-sizing: border-box;
  width: 70.9px;
  height: 2px;
}
.about,
.admin,
.contactUs,
.home,
.tests {
  position: absolute;
  top: 3px;
  left: 141px;
  font-weight: 600;
  display: inline-block;
  width: 69px;
  height: 46px;
  cursor: pointer;
}
.admin,
.contactUs,
.home,
.tests {
  top: 1px;
  left: 282px;
  width: 67px;
  height: 50px;
}
.admin,
.contactUs,
.home {
  top: 0;
  left: 413px;
  width: 119px;
  height: 48px;
}
.admin,
.home {
  top: 1px;
  left: 576px;
  width: 183px;
}
.home {
  left: 4px;
  color: var(--color-firebrick-700);
  width: 75px;
}
.lineParent {
  position: absolute;
  top: 65px;
  left: 451px;
  width: 759px;
  height: 51px;
  font-size: var(--body-h2-bold-size);
  color: var(--color-gray-700);
  font-family: var(--font-inter);
}
.passwordReset1 {
  position: relative;
  background-color: var(--gray-white);
  width: 100%;
  height: 1031px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--gray-black);
  font-family: var(--h4-reg);
}
