.iconFeatherSearch,
.vectorIcon {
  position: absolute;
  height: 5.37%;
  width: 50.87%;
  top: 4.3%;
  right: 28.94%;
  bottom: 90.33%;
  left: 20.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconFeatherSearch {
  height: 2.42%;
  width: 1.56%;
  top: 5.77%;
  right: 76.48%;
  bottom: 91.81%;
  left: 21.96%;
}
.searchDashboard {
  position: absolute;
  top: 5.82%;
  left: 25.12%;
  font-size: var(--paragraph-h1-reg-size);
  color: var(--color-lightsteelblue);
}
.groupIcon {
  position: absolute;
  height: 8.42%;
  width: 5.44%;
  top: 3.13%;
  right: 22.51%;
  bottom: 88.45%;
  left: 72.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pooranMalYadav,
.seniorAdmin {
  position: absolute;
  top: 9.09%;
  left: 58.02%;
}
.seniorAdmin {
  top: 33.73%;
  font-weight: 300;
}
.clipPathGroup,
.groupChild {
  position: absolute;
  height: 100%;
  width: 47.33%;
  top: 0;
  right: 47.33%;
  bottom: 0;
  left: 5.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupChild {
  height: 56.36%;
  top: 5.45%;
  right: 52.67%;
  bottom: 38.18%;
  left: 0;
  object-fit: cover;
}
.pooranMalYadavParent {
  position: absolute;
  height: 9.85%;
  width: 7.58%;
  top: 3.76%;
  right: 7.06%;
  bottom: 86.39%;
  left: 85.36%;
  font-size: var(--paragraph-h1-reg-size);
  color: var(--gray-black);
}
.frameChild,
.paymentsCreditChild {
  position: absolute;
  height: 5.55%;
  width: 3.59%;
  top: 4.3%;
  right: 16.84%;
  bottom: 90.15%;
  left: 79.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameChild {
  height: 5.19%;
  width: 87.19%;
  top: 37.87%;
  right: 6.25%;
  bottom: 56.94%;
  left: 6.56%;
  border-radius: var(--br-3xs);
}
.students,
.vectorIcon1 {
  position: absolute;
  top: 0;
  left: 35.44%;
}
.vectorIcon1 {
  height: 79.66%;
  width: 15.19%;
  top: 3.45%;
  right: 84.81%;
  bottom: 16.9%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.testtakers {
  position: absolute;
  top: 265px;
  left: 37px;
  width: 158px;
  height: 29px;
  cursor: pointer;
}
.team {
  position: absolute;
  top: 0;
  left: 47.46%;
}
.teacherSvgrepoCom1Icon {
  position: absolute;
  height: 74.48%;
  width: 20.34%;
  top: 10.34%;
  right: 79.66%;
  bottom: 15.17%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instructors {
  position: absolute;
  top: 322px;
  left: 37px;
  width: 118px;
  height: 29px;
  cursor: pointer;
}
.vectorIcon2 {
  position: absolute;
  height: 75.17%;
  width: 13.11%;
  top: 17.24%;
  right: 86.89%;
  bottom: 7.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dashboard {
  position: absolute;
  top: 0;
  left: 30.6%;
  font-weight: 600;
}
.academics,
.vectorGroup {
  position: absolute;
  cursor: pointer;
}
.vectorGroup {
  top: 194px;
  left: 37px;
  width: 183px;
  height: 29px;
}
.academics {
  top: 0;
  left: 30.94%;
}
.iconMetroBooks {
  position: absolute;
  height: 85.86%;
  width: 13.76%;
  top: 10.34%;
  right: 86.24%;
  bottom: 3.79%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.testEnvironment {
  position: absolute;
  top: 379px;
  left: 37px;
  width: 181px;
  height: 29px;
}
.calendar {
  position: absolute;
  top: 0;
  left: 35.22%;
  cursor: pointer;
}
.groupIcon1 {
  position: absolute;
  height: 74.48%;
  width: 15.09%;
  top: 13.79%;
  right: 84.91%;
  bottom: 11.72%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payments {
  position: absolute;
  top: 437px;
  left: 37px;
  width: 159px;
  height: 29px;
  color: var(--color-firebrick-200);
}
.frameItem {
  position: absolute;
  top: 28px;
  left: 0;
  width: 326px;
  height: 77px;
  object-fit: cover;
  cursor: pointer;
}
.vectorParent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--gray-white);
  width: 320px;
  height: 1117px;
  overflow: hidden;
  font-size: var(--body-h1-bold-size);
  color: var(--gray-black);
}
.paymentsCreditItem {
  position: absolute;
  height: 0.09%;
  width: 78.01%;
  top: 17.59%;
  right: 2.58%;
  bottom: 82.32%;
  left: 19.42%;
  border-top: 1px solid var(--color-gainsboro-400);
  box-sizing: border-box;
}
.reports {
  position: absolute;
  top: 14.68%;
  left: 22.86%;
  color: var(--color-gray-200);
  cursor: pointer;
}
.debit,
.debit1 {
  position: absolute;
  top: 0;
  left: 0;
}
.debit {
  top: 164px;
  left: 703px;
  width: 41px;
  height: 19px;
  cursor: pointer;
  color: var(--color-gray-400);
}
.paymentsCreditInner {
  position: absolute;
  height: 0.18%;
  width: 8.04%;
  top: 17.55%;
  right: 62.96%;
  bottom: 82.27%;
  left: 28.99%;
  border-top: 2px solid var(--color-firebrick-1000);
  box-sizing: border-box;
}
.from,
.to {
  position: absolute;
  top: 238px;
  left: 355px;
  font-weight: 500;
}
.to {
  left: 570px;
}
.paymentsCreditChild1,
.rectangleDiv {
  position: absolute;
  top: 229px;
  left: 405px;
  border-radius: var(--br-8xs);
  background-color: var(--color-ghostwhite-200);
  width: 149px;
  height: 37px;
}
.paymentsCreditChild1 {
  left: 602px;
}
.div,
.div1 {
  position: absolute;
  top: 238px;
  left: 446px;
  color: var(--color-darkslategray-400);
}
.div1 {
  left: 643px;
}
.uiscalenderIcon,
.uiscalenderIcon1 {
  position: absolute;
  top: 237px;
  left: 415px;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.uiscalenderIcon1 {
  left: 612px;
}
.transactions {
  position: absolute;
  top: 164px;
  left: 542px;
  width: 97px;
  height: 19px;
  color: var(--color-firebrick-1000);
}
.dateTime,
.name,
.sno,
.transactionId {
  position: absolute;
  top: 313px;
  left: 680px;
  font-weight: 600;
}
.name,
.sno,
.transactionId {
  left: 365px;
}
.name,
.transactionId {
  left: 432px;
}
.transactionId {
  left: 823px;
}
.amount,
.paymentMethod,
.phoneNumber,
.status {
  position: absolute;
  top: 313px;
  left: 982px;
  font-weight: 600;
}
.paymentMethod,
.phoneNumber,
.status {
  left: 1104px;
}
.paymentMethod,
.status {
  left: 1259px;
}
.status {
  left: 1436px;
}
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--gray-white);
  border: 1px solid var(--color-gainsboro-400);
  box-sizing: border-box;
  width: 1348px;
  height: 56px;
}
.april2023,
.div2 {
  position: absolute;
  top: 18px;
  left: 334px;
}
.div2 {
  left: 19px;
}
.arjunSinghShekhawat,
.div3,
.div4 {
  position: absolute;
  top: 18px;
  left: 86px;
}
.div3,
.div4 {
  left: 477px;
}
.div4 {
  left: 636px;
  font-weight: 500;
  color: var(--color-lightseagreen-200);
}
.div5,
.success,
.upi {
  position: absolute;
  top: 18px;
  left: 758px;
}
.success,
.upi {
  left: 913px;
}
.success {
  left: 1090px;
  font-weight: 600;
  color: var(--color-seagreen);
}
.rectangleParent {
  position: absolute;
  top: 8px;
  left: 11px;
  width: 1348px;
  height: 56px;
}
.div8 {
  position: absolute;
  top: 18px;
  left: 636px;
  font-weight: 500;
  color: var(--color-seagreen);
}
.groupDiv,
.rectangleContainer,
.rectangleGroup {
  position: absolute;
  top: 84px;
  left: 11px;
  width: 1348px;
  height: 56px;
}
.groupDiv,
.rectangleContainer {
  top: 160px;
}
.groupDiv {
  top: 236px;
}
.rectangleParent1,
.rectangleParent2,
.rectangleParent3 {
  position: absolute;
  top: 312px;
  left: 11px;
  width: 1348px;
  height: 56px;
}
.rectangleParent2,
.rectangleParent3 {
  top: 388px;
}
.rectangleParent3 {
  top: 464px;
}
.rectangleParent4,
.rectangleParent5,
.rectangleParent6 {
  position: absolute;
  top: 540px;
  left: 11px;
  width: 1348px;
  height: 56px;
}
.rectangleParent5,
.rectangleParent6 {
  top: 616px;
}
.rectangleParent6 {
  top: 692px;
}
.rectangleParent7,
.rectangleParent8,
.rectangleParent9 {
  position: absolute;
  top: 768px;
  left: 11px;
  width: 1348px;
  height: 56px;
}
.rectangleParent8,
.rectangleParent9 {
  top: 844px;
}
.rectangleParent9 {
  top: 920px;
}
.groupParent,
.rectangleParent10,
.rectangleParent11,
.rectangleParent12 {
  position: absolute;
  top: 996px;
  left: 11px;
  width: 1348px;
  height: 56px;
}
.groupParent,
.rectangleParent11,
.rectangleParent12 {
  top: 1072px;
}
.groupParent,
.rectangleParent12 {
  top: 1148px;
}
.groupParent {
  top: 342px;
  left: 336px;
  width: 1373px;
  height: 725px;
  overflow-y: auto;
}
.paymentsCredit {
  position: relative;
  background-color: var(--color-ghostwhite-100);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--paragraph-h2-reg-size);
  color: var(--color-darkslategray-200);
  font-family: var(--font-inter);
}
