.iconFeatherSearch,
.vectorIcon {
  position: absolute;
  height: 5.37%;
  width: 50.87%;
  top: 4.3%;
  right: 28.94%;
  bottom: 90.33%;
  left: 20.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconFeatherSearch {
  height: 2.42%;
  width: 1.56%;
  top: 5.77%;
  right: 76.48%;
  bottom: 91.81%;
  left: 21.96%;
}
.searchDashboard {
  position: absolute;
  top: 5.82%;
  left: 25.12%;
  font-size: var(--paragraph-h1-reg-size);
  color: var(--color-lightsteelblue);
}
.groupIcon {
  position: absolute;
  height: 8.42%;
  width: 5.44%;
  top: 3.13%;
  right: 22.51%;
  bottom: 88.45%;
  left: 72.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pooranMalYadav,
.seniorAdmin {
  position: absolute;
  top: 9.09%;
  left: 58.02%;
}
.seniorAdmin {
  top: 33.73%;
  font-weight: 300;
}
.clipPathGroup,
.groupChild {
  position: absolute;
  height: 100%;
  width: 47.33%;
  top: 0;
  right: 47.33%;
  bottom: 0;
  left: 5.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupChild {
  height: 56.36%;
  top: 5.45%;
  right: 52.67%;
  bottom: 38.18%;
  left: 0;
  object-fit: cover;
}
.pooranMalYadavParent {
  position: absolute;
  height: 9.85%;
  width: 7.58%;
  top: 3.76%;
  right: 7.06%;
  bottom: 86.39%;
  left: 85.36%;
  font-size: var(--paragraph-h1-reg-size);
  color: var(--gray-black);
}
.frameChild,
.paymentsReportsChild {
  position: absolute;
  height: 5.55%;
  width: 3.59%;
  top: 4.3%;
  right: 16.84%;
  bottom: 90.15%;
  left: 79.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameChild {
  height: 5.19%;
  width: 87.19%;
  top: 37.87%;
  right: 6.25%;
  bottom: 56.94%;
  left: 6.56%;
  border-radius: var(--br-3xs);
}
.students,
.vectorIcon1 {
  position: absolute;
  top: 0;
  left: 35.44%;
}
.vectorIcon1 {
  height: 79.66%;
  width: 15.19%;
  top: 3.45%;
  right: 84.81%;
  bottom: 16.9%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.testtakers {
  position: absolute;
  top: 265px;
  left: 37px;
  width: 158px;
  height: 29px;
  cursor: pointer;
}
.team {
  position: absolute;
  top: 0;
  left: 47.46%;
}
.teacherSvgrepoCom1Icon {
  position: absolute;
  height: 74.48%;
  width: 20.34%;
  top: 10.34%;
  right: 79.66%;
  bottom: 15.17%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instructors {
  position: absolute;
  top: 322px;
  left: 37px;
  width: 118px;
  height: 29px;
  cursor: pointer;
}
.vectorIcon2 {
  position: absolute;
  height: 75.17%;
  width: 13.11%;
  top: 17.24%;
  right: 86.89%;
  bottom: 7.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dashboard {
  position: absolute;
  top: 0;
  left: 30.6%;
  font-weight: 600;
}
.academics,
.vectorGroup {
  position: absolute;
  cursor: pointer;
}
.vectorGroup {
  top: 194px;
  left: 37px;
  width: 183px;
  height: 29px;
}
.academics {
  top: 0;
  left: 30.94%;
}
.iconMetroBooks {
  position: absolute;
  height: 85.86%;
  width: 13.76%;
  top: 10.34%;
  right: 86.24%;
  bottom: 3.79%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.testEnvironment {
  position: absolute;
  top: 379px;
  left: 37px;
  width: 181px;
  height: 29px;
}
.calendar {
  position: absolute;
  top: 0;
  left: 35.22%;
  cursor: pointer;
}
.groupIcon1 {
  position: absolute;
  height: 74.48%;
  width: 15.09%;
  top: 13.79%;
  right: 84.91%;
  bottom: 11.72%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payments {
  position: absolute;
  top: 437px;
  left: 37px;
  width: 159px;
  height: 29px;
  color: var(--color-firebrick-200);
}
.frameItem {
  position: absolute;
  top: 28px;
  left: 0;
  width: 326px;
  height: 77px;
  object-fit: cover;
  cursor: pointer;
}
.vectorParent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--gray-white);
  width: 320px;
  height: 1117px;
  overflow: hidden;
  font-size: var(--body-h1-bold-size);
  color: var(--gray-black);
}
.paymentsReportsItem {
  position: absolute;
  height: 0.09%;
  width: 78.01%;
  top: 17.59%;
  right: 2.58%;
  bottom: 82.32%;
  left: 19.42%;
  border-top: 1px solid var(--color-gainsboro-400);
  box-sizing: border-box;
}
.credit,
.debit,
.reports {
  position: absolute;
  top: 14.68%;
  left: 22.86%;
  color: var(--color-firebrick-1000);
}
.credit,
.debit {
  top: 164px;
  left: 552px;
  width: 47px;
  height: 19px;
  cursor: pointer;
  color: var(--color-gray-400);
}
.debit {
  left: 669px;
  width: 41px;
}
.paymentsReportsInner {
  position: absolute;
  height: 0.18%;
  width: 8.04%;
  top: 17.64%;
  right: 71.53%;
  bottom: 82.18%;
  left: 20.43%;
  border-top: 2px solid var(--color-firebrick-1000);
  box-sizing: border-box;
}
.from,
.to {
  position: absolute;
  top: 238px;
  left: 355px;
  font-weight: 500;
  color: var(--color-darkslategray-200);
}
.to {
  left: 570px;
}
.paymentsReportsChild1,
.rectangleDiv {
  position: absolute;
  top: 229px;
  left: 405px;
  border-radius: var(--br-8xs);
  background-color: var(--color-ghostwhite-200);
  width: 149px;
  height: 37px;
}
.paymentsReportsChild1 {
  left: 602px;
}
.div,
.div1 {
  position: absolute;
  top: 238px;
  left: 446px;
  color: var(--color-darkslategray-400);
}
.div1 {
  left: 643px;
}
.creditDebitCompChild,
.uiscalenderIcon,
.uiscalenderIcon1 {
  position: absolute;
  top: 237px;
  left: 415px;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.creditDebitCompChild,
.uiscalenderIcon1 {
  left: 612px;
}
.creditDebitCompChild {
  height: 11.69%;
  width: 26.36%;
  top: 0;
  right: 73.64%;
  bottom: 88.31%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.creditDebitCompItem {
  height: 11.69%;
  width: 26.36%;
  right: 47.28%;
  bottom: 88.31%;
  left: 26.36%;
  display: none;
}
.creditDebitCompInner,
.creditDebitCompItem,
.iconIonicIosCard {
  position: absolute;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.creditDebitCompInner {
  height: 11.69%;
  width: 29.47%;
  right: 17.79%;
  bottom: 88.31%;
  left: 52.73%;
  display: none;
}
.iconIonicIosCard {
  height: 100%;
  width: 84.76%;
  right: 0;
  bottom: 0;
  left: 15.24%;
}
.outstanding {
  position: absolute;
  top: 8.62%;
  left: 129.84%;
  display: none;
}
.iconAwesomeClock {
  position: absolute;
  height: 51.29%;
  width: 30.79%;
  top: 24.57%;
  right: 69.21%;
  bottom: 24.14%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component151 {
  position: absolute;
  height: 3.97%;
  width: 3.61%;
  top: 3.94%;
  right: 37.88%;
  bottom: 92.09%;
  left: 58.51%;
  display: none;
  font-size: 16.99px;
  color: var(--color-goldenrod);
}
.creditDebitCompChild1,
.lineIcon {
  position: absolute;
  height: 7.43%;
  top: 2.21%;
  bottom: 90.37%;
  left: 26.42%;
  max-height: 100%;
  width: 0;
  display: none;
}
.creditDebitCompChild1 {
  left: 52.73%;
}
.creditDebitCompChild2,
.rectangleIcon {
  position: absolute;
  height: 82.29%;
  width: 100%;
  top: 17.69%;
  right: 0;
  bottom: 0.02%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.creditDebitCompChild2 {
  height: 6.37%;
  width: 5.45%;
  top: 21.24%;
  right: 92.8%;
  bottom: 72.4%;
  left: 1.75%;
}
.creditDebitCompChild3,
.creditDebitCompChild4,
.creditDebitCompChild5,
.creditDebitCompChild6,
.creditDebitCompChild7,
.iconFeatherClock {
  position: absolute;
  height: 6.37%;
  width: 5.45%;
  top: 21.24%;
  right: 85.4%;
  bottom: 72.4%;
  left: 9.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.creditDebitCompChild4,
.creditDebitCompChild5,
.creditDebitCompChild6,
.creditDebitCompChild7,
.iconFeatherClock {
  right: 78.99%;
  left: 15.56%;
}
.creditDebitCompChild5,
.creditDebitCompChild6,
.creditDebitCompChild7,
.iconFeatherClock {
  right: 72.56%;
  left: 21.99%;
}
.creditDebitCompChild6,
.creditDebitCompChild7,
.iconFeatherClock {
  right: 66.14%;
  left: 28.41%;
}
.creditDebitCompChild7,
.iconFeatherClock {
  width: 15.17%;
  right: 50.01%;
  left: 34.82%;
}
.iconFeatherClock {
  height: 3.37%;
  width: 2.26%;
  top: 22.88%;
  right: 94.55%;
  bottom: 73.75%;
  left: 3.19%;
}
.customTime,
.d,
.m,
.w,
.y {
  position: absolute;
  top: 22.5%;
  font-size: 16.99px;
}
.d {
  left: 10.97%;
  color: var(--gray-white);
}
.customTime,
.m,
.w,
.y {
  left: 17.38%;
}
.customTime,
.m,
.y {
  top: 22.33%;
  left: 23.68%;
}
.customTime,
.y {
  left: 30.55%;
}
.customTime {
  top: 21.99%;
  left: 35.82%;
}
.creditDebitCompChild10,
.creditDebitCompChild11,
.creditDebitCompChild12,
.creditDebitCompChild8,
.creditDebitCompChild9 {
  position: absolute;
  height: 0.14%;
  width: 86.58%;
  top: 34.17%;
  right: 11.62%;
  bottom: 65.69%;
  left: 1.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.creditDebitCompChild10,
.creditDebitCompChild11,
.creditDebitCompChild12,
.creditDebitCompChild9 {
  top: 57.53%;
  bottom: 42.33%;
}
.creditDebitCompChild10,
.creditDebitCompChild11,
.creditDebitCompChild12 {
  top: 80.89%;
  bottom: 18.98%;
}
.creditDebitCompChild11,
.creditDebitCompChild12 {
  top: 45.86%;
  bottom: 54%;
}
.creditDebitCompChild12 {
  top: 69.22%;
  bottom: 30.65%;
}
.creditDebitCompChild13,
.creditDebitCompChild14,
.creditDebitCompChild15,
.creditDebitCompChild16,
.creditDebitCompChild17 {
  position: absolute;
  height: 0.14%;
  width: 86.58%;
  top: 40.01%;
  right: 11.62%;
  bottom: 59.86%;
  left: 1.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.creditDebitCompChild14,
.creditDebitCompChild15,
.creditDebitCompChild16,
.creditDebitCompChild17 {
  top: 63.38%;
  bottom: 36.48%;
}
.creditDebitCompChild15,
.creditDebitCompChild16,
.creditDebitCompChild17 {
  top: 86.74%;
  bottom: 13.12%;
}
.creditDebitCompChild16,
.creditDebitCompChild17 {
  top: 51.69%;
  bottom: 48.17%;
}
.creditDebitCompChild17 {
  top: 75.05%;
  bottom: 24.81%;
}
.groupItem,
.jul {
  position: absolute;
}
.groupItem {
  height: 28.88%;
  width: 2.35%;
  top: 0;
  right: 61.18%;
  bottom: 71.12%;
  left: 36.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.jul {
  top: 56.52%;
  left: 0;
}
.groupInner,
.vectorContainer {
  position: absolute;
  height: 5.51%;
  width: 3.89%;
  top: 86.81%;
  right: 92.47%;
  bottom: 7.68%;
  left: 3.64%;
}
.groupInner {
  height: 28.88%;
  width: 2.29%;
  top: 0;
  right: 67.14%;
  bottom: 71.12%;
  left: 30.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupChild1,
.groupDiv {
  position: absolute;
  height: 5.51%;
  width: 4.01%;
  top: 86.81%;
  right: 82.82%;
  bottom: 7.68%;
  left: 13.17%;
}
.groupChild1 {
  height: 28.88%;
  width: 2.35%;
  top: 0;
  right: 63.82%;
  bottom: 71.12%;
  left: 33.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupChild2,
.vectorParent1 {
  position: absolute;
  height: 5.51%;
  width: 3.89%;
  top: 86.81%;
  right: 64.94%;
  bottom: 7.68%;
  left: 31.17%;
}
.groupChild2 {
  height: 28.88%;
  width: 2.29%;
  top: 0;
  right: 62.29%;
  bottom: 71.12%;
  left: 35.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupChild4,
.vectorParent2,
.vectorParent3 {
  position: absolute;
  height: 5.51%;
  width: 4.01%;
  top: 86.81%;
  right: 37%;
  bottom: 7.68%;
  left: 58.99%;
}
.groupChild4,
.vectorParent3 {
  right: 18.41%;
  left: 77.58%;
}
.groupChild4 {
  height: 28.88%;
  width: 2.29%;
  top: 0;
  right: 72%;
  bottom: 71.12%;
  left: 25.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupChild5,
.vectorParent4 {
  position: absolute;
  height: 5.51%;
  width: 4.01%;
  top: 86.81%;
  right: 73.57%;
  bottom: 7.68%;
  left: 22.42%;
}
.groupChild5 {
  height: 28.88%;
  width: 2.35%;
  top: 0;
  right: 66.18%;
  bottom: 71.12%;
  left: 31.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupChild7,
.vectorParent5,
.vectorParent6 {
  position: absolute;
  height: 5.51%;
  width: 3.89%;
  top: 86.81%;
  right: 46.35%;
  bottom: 7.68%;
  left: 49.75%;
}
.groupChild7,
.vectorParent6 {
  width: 4.01%;
  right: 55.39%;
  left: 40.6%;
}
.groupChild7 {
  height: 28.88%;
  width: 2.29%;
  top: 0;
  right: 69.71%;
  bottom: 71.12%;
  left: 28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupChild8,
.vectorParent7 {
  position: absolute;
  height: 5.51%;
  width: 4.01%;
  top: 86.81%;
  right: 27.47%;
  bottom: 7.68%;
  left: 68.52%;
}
.groupChild8 {
  height: 28.88%;
  width: 2.42%;
  top: 0;
  right: 62.73%;
  bottom: 71.12%;
  left: 34.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorParent8 {
  position: absolute;
  height: 5.51%;
  width: 3.78%;
  top: 86.81%;
  right: 9.5%;
  bottom: 7.68%;
  left: 86.72%;
}
.path10Icon,
.path11Icon {
  position: absolute;
  height: 39.32%;
  width: 86.14%;
  top: 35.81%;
  right: 12.06%;
  bottom: 24.86%;
  left: 1.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.path10Icon {
  height: 39.56%;
  width: 86.24%;
  top: 35.66%;
  right: 12.03%;
  bottom: 24.78%;
  left: 1.73%;
}
.l,
.l1 {
  position: absolute;
  top: 32.26%;
  left: 89.2%;
}
.l1 {
  top: 38.76%;
}
.l2,
.l3,
.l4,
.l5,
.l6,
.l7,
.l8 {
  position: absolute;
  top: 44.59%;
  left: 89.18%;
}
.l3,
.l4,
.l5,
.l6,
.l7,
.l8 {
  top: 50.6%;
}
.l4,
.l5,
.l6,
.l7,
.l8 {
  top: 56.45%;
}
.l5,
.l6,
.l7,
.l8 {
  top: 62.29%;
}
.l6,
.l7,
.l8 {
  top: 68.12%;
}
.l7,
.l8 {
  top: 73.97%;
}
.l8 {
  top: 79.81%;
}
.iconIonicIosCard1 {
  position: absolute;
  height: 100%;
  width: 20.78%;
  top: 0;
  right: 79.22%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.credit2 {
  position: absolute;
  top: 9.51%;
  left: 29.11%;
}
.iconIonicIosCardParent {
  position: absolute;
  height: 100%;
  width: 95.28%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 4.72%;
}
.iconAwesomeChevronDown {
  position: absolute;
  height: 43.35%;
  width: 9.38%;
  top: 21.29%;
  right: 90.62%;
  bottom: 35.36%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupParent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.iconFeatherExternalLink {
  position: absolute;
  height: 72.62%;
  width: 10.3%;
  top: 90.87%;
  right: -25.38%;
  bottom: -63.5%;
  left: 115.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.component131 {
  position: absolute;
  height: 4.5%;
  width: 17.46%;
  top: 3.68%;
  right: 76.51%;
  bottom: 91.82%;
  left: 6.02%;
  font-size: 16.99px;
  color: var(--color-lightseagreen-200);
}
.iconIonicIosCard2 {
  position: absolute;
  height: 99.57%;
  width: 33.38%;
  top: 0;
  right: 66.63%;
  bottom: 0.43%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.debit2,
.iconIonicIosCardGroup {
  position: absolute;
  top: 0;
  left: 46.25%;
}
.iconIonicIosCardGroup {
  height: 100%;
  width: 92.59%;
  right: 0;
  bottom: 0;
  left: 7.41%;
}
.iconAwesomeChevronDown1 {
  position: absolute;
  height: 44.21%;
  width: 14.81%;
  top: 65.24%;
  right: 70.37%;
  bottom: -9.44%;
  left: 14.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupContainer {
  position: absolute;
  height: 100%;
  width: 69.23%;
  top: 0;
  right: 30.77%;
  bottom: 0;
  left: 0;
}
.iconFeatherExternalLink1 {
  position: absolute;
  height: 81.97%;
  width: 12.58%;
  top: 3.86%;
  right: 0;
  bottom: 14.16%;
  left: 87.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component141 {
  position: absolute;
  height: 3.99%;
  width: 14.29%;
  top: 3.94%;
  right: 52.49%;
  bottom: 92.08%;
  left: 33.22%;
  display: none;
  font-size: 16.99px;
  color: var(--color-crimson);
}
.iconFeatherExternalLink2 {
  position: absolute;
  height: 3.27%;
  width: 1.8%;
  top: 4.09%;
  right: 20.91%;
  bottom: 92.64%;
  left: 77.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.downloadChart {
  position: absolute;
  top: 0;
  left: 0;
}
.iconFeatherDownloadCloud {
  position: absolute;
  height: 93.81%;
  width: 11.73%;
  top: 0;
  right: -0.54%;
  bottom: 6.19%;
  left: 88.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component161 {
  position: absolute;
  height: 3.59%;
  width: 19.24%;
  top: 22.33%;
  right: 6.36%;
  bottom: 74.08%;
  left: 74.41%;
  font-size: 16.99px;
}
.creditDebitCompChild18 {
  position: absolute;
  height: 0.29%;
  width: 26.36%;
  top: 11.58%;
  right: 73.55%;
  bottom: 88.12%;
  left: 0.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.creditDebitComp {
  position: absolute;
  top: 304px;
  left: 354px;
  width: 873.3px;
  height: 584.4px;
  font-size: 11.89px;
}
.iconFeatherExternalLink3,
.vectorIcon3 {
  position: absolute;
  height: 1.86%;
  width: 1.01%;
  top: 29.27%;
  right: 66.38%;
  bottom: 68.86%;
  left: 32.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon3 {
  height: 32.57%;
  width: 22.27%;
  top: 28.52%;
  right: 3.28%;
  bottom: 38.91%;
  left: 74.46%;
}
.collectionReport {
  position: absolute;
  top: 31.6%;
  left: 75.98%;
  font-size: 21.24px;
  color: var(--gray-black);
}
.div2,
.div3,
.growthPerformance,
.totalExpectedAmount {
  position: absolute;
  top: 37.78%;
  left: 75.98%;
  font-size: 16.99px;
}
.div2,
.div3,
.growthPerformance {
  top: 48.34%;
  left: 75.93%;
}
.div2,
.div3 {
  top: 41.18%;
  left: 75.98%;
  font-size: 29.73px;
  color: var(--color-goldenrod);
}
.div3 {
  top: 52.12%;
  left: 75.95%;
  color: var(--color-lightseagreen-200);
}
.changeInRevenue {
  position: absolute;
  top: 56.76%;
  left: 75.98%;
  font-size: 13.59px;
}
.paymentsReportsChild2,
.paymentsReportsChild3 {
  position: absolute;
  height: 0.07%;
  width: 19.57%;
  top: 35.88%;
  right: 4.4%;
  bottom: 64.05%;
  left: 76.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.paymentsReportsChild3 {
  top: 47.08%;
  bottom: 52.85%;
}
.exportData {
  position: absolute;
  top: 3px;
  left: 34px;
}
.icoutlineFileUploadIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.exportDataParent {
  position: absolute;
  top: 152px;
  left: 1539px;
  width: 124px;
  height: 24px;
  color: var(--gray-white);
}
.paymentsReports {
  position: relative;
  background-color: var(--color-ghostwhite-100);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--paragraph-h2-reg-size);
  color: var(--color-dimgray-300);
  font-family: var(--font-inter);
}
