.groupChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.todaysFeesCollection {
  position: absolute;
  width: 90.5%;
  top: 23.72%;
  left: 3.3%;
  display: inline-block;
}
.group {
  position: absolute;
  height: 10.12%;
  width: 43.98%;
  top: 16.74%;
  right: 34.55%;
  bottom: 73.14%;
  left: 21.47%;
  font-size: 30.32px;
  color: var(--gray-white);
}
.iconFeatherSearch,
.vectorIcon {
  position: absolute;
  height: 5.37%;
  width: 50.87%;
  top: 4.3%;
  right: 28.94%;
  bottom: 90.33%;
  left: 20.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconFeatherSearch {
  height: 2.42%;
  width: 1.56%;
  top: 5.77%;
  right: 76.48%;
  bottom: 91.81%;
  left: 21.96%;
}
.searchDashboard {
  position: absolute;
  top: 5.82%;
  left: 25.12%;
  font-size: var(--paragraph-h1-reg-size);
  color: var(--color-lightsteelblue);
}
.groupIcon,
.takeTestsChild {
  position: absolute;
  height: 8.42%;
  width: 5.44%;
  top: 3.13%;
  right: 22.51%;
  bottom: 88.45%;
  left: 72.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.takeTestsChild {
  height: 5.55%;
  width: 3.59%;
  top: 4.3%;
  right: 16.84%;
  bottom: 90.15%;
  left: 79.57%;
}
.takeTestsItem {
  position: absolute;
  top: 397px;
  left: 371px;
  background-color: var(--color-pink-100);
  width: 760px;
  height: 418px;
}
.addDefaultersChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-firebrick-400);
}
.icon {
  position: absolute;
  height: 40%;
  width: 40%;
  top: 30%;
  right: 30%;
  bottom: 30%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.addDefaulters {
  position: absolute;
  top: 415px;
  left: 695px;
  width: 40px;
  height: 40px;
  display: none;
  cursor: pointer;
}
.takeTestsInner {
  position: absolute;
  top: 1008px;
  left: 822px;
  border-radius: var(--br-3xs);
  background-color: var(--gray-white);
  width: 100px;
  height: 5px;
  display: none;
}
.addDefaultersItem {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-firebrick-400);
}
.addDefaulters1,
.addDefaultersItem,
.icon1 {
  position: absolute;
  height: 0;
}
.icon1 {
  width: 40%;
  right: 30%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
}
.addDefaulters1 {
  top: 1008px;
  left: 907px;
  width: 10px;
  display: none;
  cursor: pointer;
}
.complaints,
.complaints1 {
  position: absolute;
  color: var(--color-dimgray-300);
}
.complaints {
  height: 2.42%;
  width: 13.66%;
  top: 38.41%;
  left: 22.92%;
  display: inline-block;
}
.complaints1 {
  width: 3.07%;
  top: 90.24%;
  left: 47.86%;
  font-size: var(--font-size-3xl-8);
  font-weight: 600;
  display: none;
}
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-lightgray);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 689px;
  height: 67px;
}
.rectangleIcon {
  position: absolute;
  top: 13px;
  left: 23px;
  border-radius: var(--br-19xl-4);
  width: 75px;
  height: 54px;
  object-fit: cover;
}
.byAsimAhmad,
.ocja {
  position: absolute;
  top: 39px;
  left: 131px;
  display: inline-block;
  width: 118px;
}
.ocja {
  top: 10px;
  color: var(--gray-black);
  width: 91px;
  height: 23px;
}
.groupInner,
.rectangleParent {
  position: absolute;
  width: 689px;
  height: 67px;
}
.rectangleParent {
  top: 6px;
  left: 17px;
  font-size: var(--paragraph-h2-reg-size);
  color: var(--color-darkblue);
}
.groupInner {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--gray-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.byAsimAhmad1,
.ocp {
  position: absolute;
  display: inline-block;
}
.ocp {
  top: 9px;
  left: 129.9px;
  font-weight: 500;
  width: 80.9px;
}
.byAsimAhmad1 {
  top: 40px;
  left: 133.7px;
  font-size: var(--paragraph-h2-reg-size);
  color: var(--color-darkblue);
  width: 222.1px;
}
.groupParent,
.rectangleContainer,
.rectangleGroup {
  position: absolute;
  top: 85px;
  left: 17px;
  width: 689px;
  height: 67px;
}
.groupParent,
.rectangleContainer {
  top: 162px;
}
.groupParent {
  top: 492px;
  left: 381px;
  width: 757px;
  height: 321px;
  overflow-y: auto;
  font-size: var(--font-size-xl);
}
.groupChild1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--gray-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 366px;
  height: 88px;
}
.alex,
.viewDetails {
  position: absolute;
  top: 47px;
  left: 89px;
}
.alex {
  top: 9px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--gray-black);
}
.rectangleIcon3 {
  position: absolute;
  top: 13px;
  left: 12px;
  border-radius: var(--br-19xl-4);
  width: 61px;
  height: 61px;
  object-fit: cover;
}
.groupDiv {
  position: absolute;
  top: 11px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.azam,
.viewDetails1 {
  position: absolute;
  left: 89px;
}
.azam {
  top: 9px;
  font-weight: 500;
}
.viewDetails1 {
  top: 52px;
  font-size: var(--paragraph-h2-reg-size);
  color: var(--color-tomato);
}
.rectangleParent1 {
  position: absolute;
  top: 305px;
  left: 16px;
  width: 366px;
  height: 88px;
  font-size: var(--font-size-xl);
  color: var(--gray-black);
}
.attendance,
.coJvy {
  position: absolute;
  top: 59px;
  left: 89px;
}
.coJvy {
  top: 38px;
  color: var(--color-gray-400);
}
.rectangleParent2,
.rectangleParent3 {
  position: absolute;
  top: 599px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.rectangleParent3 {
  top: 893px;
}
.rectangleParent4,
.rectangleParent5,
.rectangleParent6 {
  position: absolute;
  top: 1187px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.rectangleParent5,
.rectangleParent6 {
  top: 1481px;
}
.rectangleParent6 {
  top: 1775px;
}
.rectangleParent7 {
  top: 109px;
  font-size: var(--font-size-xl);
  color: var(--gray-black);
}
.rectangleParent7,
.rectangleParent8,
.rectangleParent9 {
  position: absolute;
  left: 16px;
  width: 366px;
  height: 88px;
}
.rectangleParent8 {
  top: 403px;
  font-size: var(--font-size-xl);
  color: var(--gray-black);
}
.rectangleParent9 {
  top: 697px;
}
.rectangleParent10,
.rectangleParent11,
.rectangleParent12 {
  position: absolute;
  top: 991px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.rectangleParent11,
.rectangleParent12 {
  top: 1285px;
}
.rectangleParent12 {
  top: 1579px;
}
.rectangleParent13 {
  top: 1873px;
}
.rectangleParent13,
.rectangleParent14,
.rectangleParent15 {
  position: absolute;
  left: 16px;
  width: 366px;
  height: 88px;
}
.rectangleParent14 {
  top: 207px;
  font-size: var(--font-size-xl);
  color: var(--gray-black);
}
.rectangleParent15 {
  top: 501px;
}
.rectangleParent16,
.rectangleParent17,
.rectangleParent18 {
  position: absolute;
  top: 795px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.rectangleParent17,
.rectangleParent18 {
  top: 1089px;
}
.rectangleParent18 {
  top: 1383px;
}
.groupContainer,
.rectangleParent19,
.rectangleParent20 {
  position: absolute;
  top: 1677px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.groupContainer,
.rectangleParent20 {
  top: 1971px;
}
.groupContainer {
  top: 460px;
  left: 822px;
  width: 385px;
  height: 539px;
  overflow-y: auto;
  display: none;
  font-size: var(--paragraph-h2-reg-size);
  color: var(--color-tomato);
}
.takeTestsChild1 {
  position: absolute;
  height: 9.85%;
  width: 3.59%;
  top: 3.22%;
  right: 9.66%;
  bottom: 86.93%;
  left: 86.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.raj {
  margin: 0;
}
.rajAnadkat {
  position: absolute;
  top: 46px;
  left: 1565px;
  font-size: var(--paragraph-h1-reg-size);
  font-weight: 300;
  color: var(--color-darkslategray-400);
}
.frameChild {
  position: absolute;
  height: 5.19%;
  width: 87.19%;
  top: 27.31%;
  right: 8.13%;
  bottom: 67.5%;
  left: 4.69%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.students,
.vectorIcon1 {
  position: absolute;
  top: 0;
  left: 35.44%;
}
.vectorIcon1 {
  height: 79.66%;
  width: 15.19%;
  top: 3.45%;
  right: 84.81%;
  bottom: 16.9%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qualificationAndCv {
  position: absolute;
  top: 265px;
  left: 37px;
  width: 158px;
  height: 29px;
  cursor: pointer;
}
.team {
  position: absolute;
  top: 0;
  left: 47.46%;
}
.teacherSvgrepoCom1Icon {
  position: absolute;
  height: 74.48%;
  width: 20.34%;
  top: 10.34%;
  right: 79.66%;
  bottom: 15.17%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.uploadTests {
  position: absolute;
  top: 322px;
  left: 37px;
  width: 118px;
  height: 29px;
  cursor: pointer;
  color: var(--color-firebrick-700);
}
.vectorIcon2 {
  position: absolute;
  height: 75.17%;
  width: 13.11%;
  top: 17.24%;
  right: 86.89%;
  bottom: 7.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dashboard {
  position: absolute;
  top: 0;
  left: 30.6%;
  font-weight: 600;
}
.academics,
.vectorGroup {
  position: absolute;
  cursor: pointer;
}
.vectorGroup {
  top: 199px;
  left: 37px;
  width: 183px;
  height: 29px;
}
.academics {
  top: 0;
  left: 30.94%;
}
.iconMetroBooks {
  position: absolute;
  height: 85.86%;
  width: 13.76%;
  top: 10.34%;
  right: 86.24%;
  bottom: 3.79%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.manageTests {
  position: absolute;
  top: 379px;
  left: 37px;
  width: 181px;
  height: 29px;
}
.testtakerProfile1 {
  color: var(--gray-black);
}
.frameItem,
.testtakerProfile {
  position: absolute;
  cursor: pointer;
}
.testtakerProfile {
  top: 492px;
  left: 37px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-gray-600);
}
.frameItem {
  top: 28px;
  left: 0;
  width: 326px;
  height: 77px;
  object-fit: cover;
}
.vectorParent {
  position: relative;
  background-color: var(--gray-white);
  width: 320px;
  height: 1117px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameDiv {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.yourPayments {
  position: absolute;
  top: 0;
  left: 35.22%;
  cursor: pointer;
}
.groupIcon1 {
  position: absolute;
  height: 74.48%;
  width: 15.09%;
  top: 13.79%;
  right: 84.91%;
  bottom: 11.72%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payments {
  position: absolute;
  top: 437px;
  left: 37px;
  width: 159px;
  height: 29px;
}
.takeTests {
  position: relative;
  background-color: var(--color-ghostwhite-100);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-h1-bold-size);
  color: var(--gray-black);
  font-family: var(--font-inter);
}
