.image2Icon {
  border-radius: var(--br-3xs);
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.continueWithGoogle,
.image2Icon {
  position: relative;
}
.image2Parent {
  position: absolute;
  top: 823px;
  left: 108px;
  border-radius: var(--br-8xs);
  border: 1px solid var(--gray-black);
  box-sizing: border-box;
  width: 390px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-smi);
}
.enterYourAccount {
  position: relative;
  font-size: var(--paragraph-h2-reg-size);
  font-weight: 500;
}
.loginParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frameChild {
  position: relative;
  border-top: 1px solid var(--gray-black);
  box-sizing: border-box;
  width: 382px;
  height: 1px;
}
.emailParent {
  width: 381px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.eyeslashfillIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameDiv,
.frameParent1,
.passwordParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.passwordParent {
  flex-direction: row;
  gap: var(--gap-261xl);
}
.frameDiv,
.frameParent1 {
  flex-direction: column;
}
.frameParent1 {
  gap: var(--gap-5xl);
  font-size: var(--paragraph-h2-reg-size);
}
.frameDiv {
  gap: var(--gap-29xl);
}
.forgotPassword {
  position: relative;
  font-size: var(--paragraph-h2-reg-size);
  cursor: pointer;
}
.frameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.loginWrapper {
  border-radius: var(--br-xs);
  background-color: var(--color-firebrick-600);
  width: 393px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--paragraph-h2-reg-size);
}
.frameGroup {
  position: absolute;
  top: calc(50% - 110px);
  left: 108px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  font-size: var(--font-size-29xl);
  font-family: var(--h4-reg);
}
.frameParent {
  position: absolute;
  top: 1px;
  left: 0;
  background-color: var(--color-lavender-200);
  width: 630px;
  height: 1024px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.welcomeTo {
  margin: 0;
}
.welcomeToTesttakerContainer {
  position: relative;
  line-height: 70px;
}
.welcomeToTesttakerPortalParent {
  position: absolute;
  top: 163px;
  left: 766px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-61xl);
  color: var(--color-whitesmoke-200);
  font-family: var(--h4-reg);
}
.dontHaveAnAccountParent,
.signUpWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.signUpWrapper {
  border-radius: var(--br-5xs);
  background-color: var(--color-firebrick-600);
  width: 100px;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  cursor: pointer;
  color: var(--gray-white);
}
.dontHaveAnAccountParent {
  position: absolute;
  top: 912px;
  left: 128px;
  justify-content: flex-start;
  gap: var(--gap-48xl);
  font-size: var(--paragraph-h2-reg-size);
  font-family: var(--h4-reg);
}
.copy1Icon {
  position: absolute;
  top: 315px;
  left: 630px;
  width: 837.3px;
  height: 628px;
  object-fit: cover;
}
.switchToInstructor {
  position: relative;
  font-weight: 600;
  color: var(--gray-black);
  cursor: pointer;
}
.notATesttakerParent {
  position: absolute;
  top: 944px;
  left: 901px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  font-size: var(--paragraph-h1-reg-size);
  color: var(--color-lavender-200);
}
.testtakerLoginChild {
  position: absolute;
  top: 163px;
  left: 0;
  width: 630px;
  height: 206px;
  object-fit: cover;
}
.testtakerLoginItem {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lavender-200);
  width: 1440px;
  height: 109px;
}
.testtakerLoginInner {
  position: absolute;
  top: 22px;
  left: 0;
  width: 326px;
  height: 77px;
  object-fit: cover;
  cursor: pointer;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-firebrick-700);
  width: 198.8px;
  height: 63px;
}
.loginregister {
  position: absolute;
  top: 17px;
  left: 26.8px;
  font-weight: 600;
  display: inline-block;
  width: 169.2px;
  height: 48px;
}
.rectangleParent {
  position: absolute;
  top: 28px;
  left: 1215px;
  width: 198.8px;
  height: 65px;
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.groupItem {
  position: absolute;
  top: 30.6px;
  left: -1px;
  border-top: 2px solid var(--color-firebrick-500);
  box-sizing: border-box;
  width: 70.9px;
  height: 2px;
}
.about,
.admin,
.contactUs,
.home,
.tests {
  position: absolute;
  top: 3px;
  left: 141px;
  font-weight: 600;
  display: inline-block;
  width: 69px;
  height: 46px;
  cursor: pointer;
}
.admin,
.contactUs,
.home,
.tests {
  top: 1px;
  left: 282px;
  width: 67px;
  height: 50px;
}
.admin,
.contactUs,
.home {
  top: 0;
  left: 413px;
  width: 119px;
  height: 48px;
}
.admin,
.home {
  top: 1px;
  left: 576px;
  width: 183px;
}
.home {
  left: 4px;
  color: var(--color-firebrick-700);
  width: 75px;
}
.lineParent {
  position: absolute;
  top: 55px;
  left: 307px;
  width: 759px;
  height: 51px;
  color: var(--color-gray-700);
  font-family: var(--font-inter);
}
.testtakerLogin {
  position: relative;
  background-color: var(--color-firebrick-800);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-h2-bold-size);
  color: var(--gray-black);
  font-family: var(--font-nunito-sans);
}
