.iconFeatherSearch,
.vectorIcon {
  position: absolute;
  height: 5.37%;
  width: 50.87%;
  top: 4.3%;
  right: 28.94%;
  bottom: 90.33%;
  left: 20.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconFeatherSearch {
  height: 2.42%;
  width: 1.56%;
  top: 5.77%;
  right: 76.48%;
  bottom: 91.81%;
  left: 21.96%;
}
.searchDashboard {
  position: absolute;
  top: 5.82%;
  left: 25.12%;
  font-size: var(--paragraph-h1-reg-size);
  color: var(--color-lightsteelblue);
}
.groupIcon {
  position: absolute;
  height: 8.42%;
  width: 5.44%;
  top: 3.13%;
  right: 22.51%;
  bottom: 88.45%;
  left: 72.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pooranMalYadav,
.seniorAdmin {
  position: absolute;
  top: 9.09%;
  left: 58.02%;
}
.seniorAdmin {
  top: 33.73%;
  font-weight: 300;
}
.clipPathGroup,
.groupChild {
  position: absolute;
  height: 100%;
  width: 47.33%;
  top: 0;
  right: 47.33%;
  bottom: 0;
  left: 5.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupChild {
  height: 56.36%;
  top: 5.45%;
  right: 52.67%;
  bottom: 38.18%;
  left: 0;
  object-fit: cover;
}
.pooranMalYadavParent {
  position: absolute;
  height: 9.85%;
  width: 7.58%;
  top: 3.76%;
  right: 7.06%;
  bottom: 86.39%;
  left: 85.36%;
  font-size: var(--paragraph-h1-reg-size);
  color: var(--gray-black);
}
.frameChild,
.testtakersViewDetails2Child {
  position: absolute;
  height: 5.55%;
  width: 3.59%;
  top: 4.3%;
  right: 16.84%;
  bottom: 90.15%;
  left: 79.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameChild {
  height: 5.19%;
  width: 87.19%;
  top: 21.84%;
  right: 4.69%;
  bottom: 72.96%;
  left: 8.13%;
  border-radius: var(--br-3xs);
}
.students,
.vectorIcon1 {
  position: absolute;
  top: 0;
  left: 35.44%;
}
.vectorIcon1 {
  height: 79.66%;
  width: 15.19%;
  top: 3.45%;
  right: 84.81%;
  bottom: 16.9%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.testtakers {
  position: absolute;
  top: 265px;
  left: 37px;
  width: 158px;
  height: 29px;
  cursor: pointer;
  color: var(--color-firebrick-900);
}
.team {
  position: absolute;
  top: 0;
  left: 47.46%;
}
.teacherSvgrepoCom1Icon {
  position: absolute;
  height: 74.48%;
  width: 20.34%;
  top: 10.34%;
  right: 79.66%;
  bottom: 15.17%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instructors {
  position: absolute;
  top: 322px;
  left: 37px;
  width: 118px;
  height: 29px;
  cursor: pointer;
}
.vectorIcon2 {
  position: absolute;
  height: 75.17%;
  width: 13.11%;
  top: 17.24%;
  right: 86.89%;
  bottom: 7.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dashboard {
  position: absolute;
  top: 0;
  left: 30.6%;
  font-weight: 600;
}
.academics,
.vectorGroup {
  position: absolute;
  cursor: pointer;
}
.vectorGroup {
  top: 194px;
  left: 37px;
  width: 183px;
  height: 29px;
}
.academics {
  top: 0;
  left: 30.94%;
}
.iconMetroBooks {
  position: absolute;
  height: 85.86%;
  width: 13.76%;
  top: 10.34%;
  right: 86.24%;
  bottom: 3.79%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.testEnvironment {
  position: absolute;
  top: 379px;
  left: 37px;
  width: 181px;
  height: 29px;
}
.calendar {
  position: absolute;
  top: 0;
  left: 35.22%;
  cursor: pointer;
}
.groupIcon1 {
  position: absolute;
  height: 74.48%;
  width: 15.09%;
  top: 13.79%;
  right: 84.91%;
  bottom: 11.72%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payments {
  position: absolute;
  top: 437px;
  left: 37px;
  width: 159px;
  height: 29px;
}
.manage {
  position: absolute;
  top: 494px;
  left: 35px;
  display: none;
}
.upload1 {
  color: var(--gray-black);
}
.upload {
  position: absolute;
  top: 551px;
  left: 37px;
  display: none;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-gray-600);
}
.frameItem {
  position: absolute;
  top: 28px;
  left: 0;
  width: 326px;
  height: 77px;
  object-fit: cover;
  cursor: pointer;
}
.vectorParent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--gray-white);
  width: 320px;
  height: 1117px;
  overflow: hidden;
  font-size: var(--body-h1-bold-size);
  color: var(--gray-black);
}
.testtakersViewDetails2Item {
  position: absolute;
  top: 468.5px;
  left: 317.5px;
  border-top: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  width: 1729px;
  height: 1px;
}
.alexa,
.genderFemale,
.studentId,
.testtakerProfile {
  position: absolute;
  font-weight: 600;
  color: var(--color-darkslategray-400);
}
.testtakerProfile {
  top: 137px;
  left: 404px;
  font-size: var(--font-size-13xl);
}
.alexa,
.genderFemale,
.studentId {
  left: 491px;
}
.alexa {
  top: 262px;
  font-size: var(--body-h1-bold-size);
}
.genderFemale,
.studentId {
  top: 300px;
}
.genderFemale {
  top: 328px;
}
.general1 {
  position: absolute;
  top: 0;
  left: 0;
}
.general,
.testsPurchased {
  position: absolute;
  font-size: var(--font-size-xl);
}
.general {
  top: 426px;
  left: 363px;
  width: 74px;
  height: 24px;
  cursor: pointer;
  color: var(--color-dimgray-100);
}
.testsPurchased {
  top: 38.14%;
  left: 28.13%;
  font-weight: 600;
  color: var(--color-firebrick-700);
}
.testtakersViewDetails2Inner {
  position: absolute;
  top: 468px;
  left: 478px;
  border-top: 2px solid var(--color-firebrick-700);
  box-sizing: border-box;
  width: 171px;
  height: 2px;
}
.ellipseIcon {
  position: absolute;
  top: 260px;
  left: 353px;
  border-radius: 50%;
  width: 102px;
  height: 102px;
  object-fit: cover;
}
.materialSymbolsarrowBackIcon {
  position: absolute;
  top: 145px;
  left: 353px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.totalTestsPurchased {
  position: absolute;
  top: 503px;
  left: 368px;
  font-weight: 600;
  color: var(--color-darkslategray-400);
}
.groupItem,
.ocp {
  position: absolute;
}
.groupItem {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--gray-white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 387px;
  height: 251px;
}
.ocp {
  top: 27px;
  left: 25px;
  font-size: var(--body-h1-bold-size);
  font-weight: 600;
  color: var(--gray-black);
  display: inline-block;
  width: 349px;
}
.vectorIcon3 {
  position: absolute;
  height: 7.57%;
  width: 4.65%;
  top: 58.96%;
  right: 55.04%;
  bottom: 33.47%;
  left: 40.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupInner,
.rectangleDiv {
  position: absolute;
  left: 28px;
  border-radius: var(--br-8xs);
  height: 33px;
}
.groupInner {
  top: 103px;
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 152px;
}
.rectangleDiv {
  top: 186px;
  background-color: var(--color-mistyrose);
  width: 176px;
}
.statusInactive {
  position: absolute;
  top: 193px;
  left: 47px;
  color: var(--color-red-100);
}
.jan2023,
.pm,
.sirAsif {
  position: absolute;
  top: 110px;
  left: 38px;
  font-weight: 500;
}
.jan2023,
.pm {
  top: 148px;
  left: 55px;
}
.jan2023 {
  left: 183px;
}
.vectorIcon4 {
  position: absolute;
  height: 7.57%;
  width: 4.91%;
  top: 58.96%;
  right: 87.86%;
  bottom: 33.47%;
  left: 7.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangleContainer,
.rectangleGroup,
.rectangleParent {
  position: absolute;
  top: 558px;
  left: 363px;
  width: 387px;
  height: 251px;
}
.rectangleContainer,
.rectangleGroup {
  left: 780px;
}
.rectangleContainer {
  top: 839px;
  left: 363px;
}
.groupDiv,
.oce {
  position: absolute;
}
.oce {
  top: 27px;
  left: 25px;
  font-size: var(--body-h1-bold-size);
  font-weight: 600;
  color: var(--gray-black);
  display: inline-block;
  width: 362px;
}
.groupDiv {
  top: 558px;
  left: 1197px;
  width: 387px;
  height: 251px;
}
.ocajp {
  position: absolute;
  top: 27px;
  left: 25px;
  font-size: var(--body-h1-bold-size);
  font-weight: 600;
  color: var(--gray-black);
  display: inline-block;
  width: 348px;
}
.groupChild15,
.rectangleParent1 {
  position: absolute;
  top: 839px;
  left: 1197px;
  width: 387px;
  height: 251px;
}
.groupChild15 {
  top: 186px;
  left: 28px;
  border-radius: var(--br-8xs);
  background-color: var(--color-lightcyan);
  width: 176px;
  height: 33px;
}
.statusActive {
  position: absolute;
  top: 193px;
  left: 47px;
  color: var(--color-limegreen);
}
.rectangleParent2 {
  position: absolute;
  top: 839px;
  left: 780px;
  width: 387px;
  height: 251px;
}
.stateLayerChild {
  position: relative;
  border-top: 3px solid var(--gray-white);
  box-sizing: border-box;
  width: 14px;
  height: 3px;
}
.labelText {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
}
.button,
.stateLayer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stateLayer {
  width: 132px;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  cursor: pointer;
}
.button {
  position: absolute;
  top: 177px;
  left: 1514px;
  border-radius: var(--br-8xs);
  background-color: var(--color-firebrick-500);
  width: 172px;
  height: 56px;
  overflow: hidden;
  flex-direction: column;
  text-align: center;
  color: var(--gray-white);
}
.testtakersViewDetails2 {
  position: relative;
  background-color: var(--color-ghostwhite-100);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--paragraph-h2-reg-size);
  color: var(--color-darkgray);
  font-family: var(--font-inter);
}
