.viewProgressChild {
  position: absolute;
  top: 281px;
  left: 473px;
  background-color: var(--color-pink-100);
  width: 825px;
  height: 367px;
}
.addDefaultersChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-firebrick-400);
}
.icon {
  position: absolute;
  height: 40%;
  width: 40%;
  top: 30%;
  right: 30%;
  bottom: 30%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.addDefaulters {
  position: absolute;
  top: 415px;
  left: 695px;
  width: 40px;
  height: 40px;
  display: none;
  cursor: pointer;
}
.viewProgressItem {
  position: absolute;
  top: 1008px;
  left: 822px;
  border-radius: var(--br-3xs);
  background-color: var(--gray-white);
  width: 100px;
  height: 5px;
  display: none;
}
.addDefaultersItem {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-firebrick-400);
  height: 0;
}
.icon1 {
  position: absolute;
  width: 40%;
  right: 30%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  height: 0;
}
.addDefaulters1,
.complaints {
  position: absolute;
  display: none;
}
.addDefaulters1 {
  top: 1008px;
  left: 907px;
  width: 10px;
  height: 0;
  cursor: pointer;
}
.complaints {
  width: 3.07%;
  top: 90.24%;
  left: 47.86%;
  font-size: var(--font-size-3xl-8);
  font-weight: 600;
  color: var(--color-dimgray-300);
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--gray-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 366px;
  height: 88px;
}
.alex,
.viewDetails {
  position: absolute;
  top: 47px;
  left: 89px;
}
.alex {
  top: 9px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--gray-black);
}
.rectangleIcon {
  position: absolute;
  top: 13px;
  left: 12px;
  border-radius: var(--br-19xl-4);
  width: 61px;
  height: 61px;
  object-fit: cover;
}
.rectangleParent {
  position: absolute;
  top: 11px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.azam {
  position: absolute;
  top: 9px;
  left: 89px;
  font-weight: 500;
}
.rectangleGroup,
.viewDetails1 {
  position: absolute;
  top: 52px;
  left: 89px;
  font-size: var(--paragraph-h2-reg-size);
  color: var(--color-tomato);
}
.rectangleGroup {
  top: 305px;
  left: 16px;
  width: 366px;
  height: 88px;
  font-size: var(--font-size-xl);
  color: var(--gray-black);
}
.attendance,
.coJvy {
  position: absolute;
  top: 59px;
  left: 89px;
}
.coJvy {
  top: 38px;
  color: var(--color-gray-400);
}
.groupDiv,
.rectangleContainer,
.rectangleParent1,
.rectangleParent2 {
  position: absolute;
  top: 599px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.groupDiv,
.rectangleParent1,
.rectangleParent2 {
  top: 893px;
}
.rectangleParent1,
.rectangleParent2 {
  top: 1187px;
}
.rectangleParent2 {
  top: 1481px;
}
.rectangleParent3,
.rectangleParent4,
.rectangleParent5 {
  position: absolute;
  top: 1775px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.rectangleParent4,
.rectangleParent5 {
  top: 109px;
  font-size: var(--font-size-xl);
  color: var(--gray-black);
}
.rectangleParent5 {
  top: 403px;
}
.rectangleParent6,
.rectangleParent7,
.rectangleParent8 {
  position: absolute;
  top: 697px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.rectangleParent7,
.rectangleParent8 {
  top: 991px;
}
.rectangleParent8 {
  top: 1285px;
}
.rectangleParent10,
.rectangleParent11,
.rectangleParent9 {
  position: absolute;
  top: 1579px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.rectangleParent10,
.rectangleParent11 {
  top: 1873px;
}
.rectangleParent11 {
  top: 207px;
  font-size: var(--font-size-xl);
  color: var(--gray-black);
}
.rectangleParent12,
.rectangleParent13,
.rectangleParent14 {
  position: absolute;
  top: 501px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.rectangleParent13,
.rectangleParent14 {
  top: 795px;
}
.rectangleParent14 {
  top: 1089px;
}
.groupParent,
.rectangleParent15,
.rectangleParent16,
.rectangleParent17 {
  position: absolute;
  top: 1383px;
  left: 16px;
  width: 366px;
  height: 88px;
}
.groupParent,
.rectangleParent16,
.rectangleParent17 {
  top: 1677px;
}
.groupParent,
.rectangleParent17 {
  top: 1971px;
}
.groupParent {
  top: 460px;
  left: 822px;
  width: 385px;
  height: 539px;
  overflow-y: auto;
  display: none;
  font-size: var(--paragraph-h2-reg-size);
  color: var(--color-tomato);
}
.viewProgressInner {
  position: absolute;
  height: 9.85%;
  width: 3.59%;
  top: 3.22%;
  right: 9.66%;
  bottom: 86.93%;
  left: 86.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.raj {
  margin: 0;
}
.rajAnadkat {
  position: absolute;
  top: 46px;
  left: 1565px;
  font-size: var(--paragraph-h1-reg-size);
  font-weight: 300;
  color: var(--color-darkslategray-400);
}
.frameChild {
  position: relative;
  background: radial-gradient(50% 50%at 50% 50%, #ef1a03, rgba(215, 47, 47, 0));
  width: 615px;
  height: 4px;
}
.pass {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 36px;
}
.frameItem {
  position: relative;
  background: radial-gradient(50% 50%at 50% 50%, rgba(242, 24, 0, 0), #d72f2f);
  width: 615px;
  height: 4px;
}
.frameDiv {
  position: absolute;
  top: 130px;
  left: 349px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  color: var(--color-firebrick-100);
  font-family: var(--h4-reg);
}
.div {
  position: relative;
  line-height: 66px;
}
.wrapper {
  border-radius: 100px;
  background-color: var(--gray-white);
  box-shadow: -1px -2px 4px rgba(0, 0, 0, 0.25) inset,
    1px 2px 4px rgba(0, 0, 0, 0.25);
  width: 200px;
  height: 200px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-11xl);
  box-sizing: border-box;
}
.ocja,
.test {
  position: relative;
  line-height: 27px;
}
.test {
  display: inline-block;
  width: 210px;
  flex-shrink: 0;
}
.ocja {
  color: var(--gray-black);
}
.testParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frameGroup {
  flex-direction: column;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--paragraph-h1-reg-size);
  color: var(--gray-black-500);
}
.frameGroup,
.frameParent,
.viewProgressInner1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  flex-direction: row;
  gap: 100px;
}
.viewProgressInner1 {
  position: absolute;
  top: 258px;
  left: 509px;
  border-radius: var(--br-3xs);
  background-color: var(--gray-white);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  width: 819px;
  height: 341px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--heading-h1-reg-size);
  color: var(--color-firebrick-100);
  font-family: var(--h4-reg);
}
.viewAnswers {
  position: relative;
  line-height: 24px;
  cursor: pointer;
}
.viewAnswersWrapper {
  border-radius: var(--br-3xs);
  background-color: var(--gray-white);
  box-shadow: -1px -2px 4px rgba(0, 0, 0, 0.25) inset,
    1px 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-21xl);
  cursor: pointer;
}
.exit {
  position: relative;
  line-height: 24px;
}
.exitWrapper,
.frameContainer {
  display: flex;
  flex-direction: row;
}
.exitWrapper {
  border-radius: var(--br-3xs);
  background-color: var(--gray-white);
  box-shadow: -1px -2px 4px rgba(0, 0, 0, 0.25) inset,
    1px 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-21xl);
}
.frameContainer {
  position: absolute;
  top: 722px;
  left: 1205px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  text-align: center;
  font-size: var(--paragraph-h2-reg-size);
  font-family: var(--h4-reg);
}
.frameInner {
  position: absolute;
  height: 5.19%;
  width: 87.19%;
  top: 32.68%;
  right: 8.44%;
  bottom: 62.13%;
  left: 4.38%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.students,
.vectorIcon {
  position: absolute;
  top: 0;
  left: 35.44%;
}
.vectorIcon {
  height: 79.66%;
  width: 15.19%;
  top: 3.45%;
  right: 84.81%;
  bottom: 16.9%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qualificationAndCv {
  position: absolute;
  top: 265px;
  left: 37px;
  width: 158px;
  height: 29px;
  cursor: pointer;
}
.team {
  position: absolute;
  top: 0;
  left: 47.46%;
}
.teacherSvgrepoCom1Icon {
  position: absolute;
  height: 74.48%;
  width: 20.34%;
  top: 10.34%;
  right: 79.66%;
  bottom: 15.17%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.uploadTests {
  position: absolute;
  top: 322px;
  left: 37px;
  width: 118px;
  height: 29px;
  cursor: pointer;
}
.vectorIcon1 {
  position: absolute;
  height: 75.17%;
  width: 13.11%;
  top: 17.24%;
  right: 86.89%;
  bottom: 7.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dashboard {
  position: absolute;
  top: 0;
  left: 30.6%;
  font-weight: 600;
}
.academics,
.vectorGroup {
  position: absolute;
  cursor: pointer;
}
.vectorGroup {
  top: 194px;
  left: 37px;
  width: 183px;
  height: 29px;
}
.academics {
  top: 0;
  left: 30.94%;
}
.iconMetroBooks {
  position: absolute;
  height: 85.86%;
  width: 13.76%;
  top: 10.34%;
  right: 86.24%;
  bottom: 3.79%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.manageTests {
  position: absolute;
  top: 379px;
  left: 37px;
  width: 181px;
  height: 29px;
  color: #d04d42;
}
.testtakerProfile1 {
  color: var(--gray-black);
}
.frameChild1,
.testtakerProfile {
  position: absolute;
  cursor: pointer;
}
.testtakerProfile {
  top: 492px;
  left: 37px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-gray-600);
}
.frameChild1 {
  top: 28px;
  left: 0;
  width: 326px;
  height: 77px;
  object-fit: cover;
}
.vectorParent {
  position: relative;
  background-color: var(--gray-white);
  width: 320px;
  height: 1117px;
  overflow: hidden;
  flex-shrink: 0;
}
.viewProgressInner2 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.yourPayments {
  position: absolute;
  top: 0;
  left: 35.22%;
  cursor: pointer;
}
.groupIcon {
  position: absolute;
  height: 74.48%;
  width: 15.09%;
  top: 13.79%;
  right: 84.91%;
  bottom: 11.72%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payments {
  position: absolute;
  top: 437px;
  left: 37px;
  width: 159px;
  height: 29px;
}
.viewProgress {
  position: relative;
  background-color: var(--color-ghostwhite-100);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-h1-bold-size);
  color: var(--gray-black);
  font-family: var(--font-inter);
}
